.container-grid-images {
    margin-bottom: 10px;
    perspective: 800px;
    overflow: hidden;

    .buttons-section {
        background-color: $color2;
        margin: $main-margin;
        margin-left: 0;
        padding: $main-padding;
        margin-bottom: -$main-margin;

        .Sorting_grid {
            padding: 3px;
            background-color: $color1;
            color: $infoColor;
            margin: 0 2px;
            border-radius: 3px;
            cursor: pointer;
        }

        @media (max-width: 767px){
            .Sorting_grid {
                font-size: 13px;
                margin: 0 1px;
                padding: 1px;
            }
        }
    }

    @media (max-width: 767px){
        .buttons-section {
            margin: 10px 0 0 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .grid-images {
        margin: $main-margin;
        margin-left: -5px;
        overflow: hidden;
        position: relative;
        background-color: $color2;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($color2, 0.7);
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 20;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

         > div {
            overflow: hidden;
            cursor: pointer;
        }

        > div:first-of-type {
            height: 500px;

            .info {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: $main-padding +  5;
                opacity: 0;
                transition: all .5s ease-in-out;

                &:hover {
                    opacity: 0.5;
                }

                h3 {
                    color: $color2;
                    font-size: $font-size + 20;
                    padding: 5px;
                    display: inline-block;
                    border-radius: 2px;
                }

                p {
                   padding: 5px;
                   color: $color2;
                    border-radius: 2px; 
                }

                span {
                    color: $color2;
                    padding: 2px 5px;
                    border-radius: 2px;
                    font-family: $fontTwo;
                    font-size: $font-size - 8;
                }
            }

            @media (max-width: 767px){
                .info {
                    width: 300px;
                }
            }
        }

        > div:nth-of-type(2) {
            height: 300px;

            .info {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: $main-padding +  5;
                opacity: 0;
                transition: all .5s ease-in-out;

                &:hover {
                    opacity: 0.5;
                }

                h3 {
                    color: $color2;
                    font-size: $font-size + 20;
                    padding: 5px;
                    display: inline-block;
                    border-radius: 2px;
                }

                p {
                   padding: 5px;
                   color: $color2;
                    border-radius: 2px;  
                }

                span {
                    color: $color2;
                    padding: 2px 5px;
                    border-radius: 2px;
                    font-family: $fontTwo;
                    font-size: $font-size - 8;
                }
            }

            @media (max-width: 767px){
                .info {
                    width: 300px;
                }
            }
        }

        @media (min-width: 768px) and (max-width: 991px) {
            > div:nth-of-type(2) {
                height: 200px;
            }
        }

        > div:nth-of-type(3),
        > div:nth-of-type(4) {
            height: 200px;

            .info {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: $main-padding -  5;
                opacity: 0;
                transition: all .5s ease-in-out;

                &:hover {
                    opacity: 0.5;
                }

                h3 {
                    color: $color2;
                    font-size: $font-size + 5;
                    padding: 5px;
                    display: inline-block;
                    border-radius: 2px;
                }

                p {
                    padding: 5px;
                    color: $color2;
                    border-radius: 2px; 
                }

                span {
                    color: $color2;
                    padding: 2px 5px;
                    border-radius: 2px;
                    display: block;
                    margin-bottom: 5px;
                    font-size: $font-size - 8;
                    font-family: $fontTwo;
                }
            }

            @media (max-width: 767px){
                .info {
                    width: 300px;
                }
            }
        }

        .image-box {
            border: 1px solid rgba(0, 0, 0, 0);
            width: 100%;
            height: 100% !important;
            overflow: hidden;
            margin: 2px;
            background-color: $backgroungTransparentImage;

            span.price-item {
                position: absolute;
                top: 8px;
                right: 5px;
                background-color: $color6;
                color: $color2;
                width: 65px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size - 5;
                border-radius: 2px;
                border-bottom-left-radius: 0;
                font-family: $fontTwo;

                &:before {
                    content: "\f155";
                    font-family: 'icomoon' !important;
                    content: "\f155";
                    font-family: 'icomoon' !important;
                    font-size: 11px;
                    margin-right: 3px;
                    color: $color2;
                    opacity: .8;
                }

                &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    border-left: 0;
                    border-right: 4px solid transparent;
                    border-top: 4px solid $color6;
                    transition: 0.3s;
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: .0;
                background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.00, $color6), color-stop(1.0, $color4));
                margin: 2px;    
                transition: all .5s ease-in-out;    
             }

            img {
                width: 100%
            }

            &:hover ~ div.info {
                opacity: .7;
            }

            &:hover:before {
                opacity: 0;
            }
        }
    }

    @media (max-width: 767px){
        .grid-images {
            margin: 0 !important;
            margin-left: -5px !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container-grid-images {
        margin-right: -$main-margin;
        margin-top: $main-margin * 2;
        margin-bottom: -$main-margin;
    }
}