.latest-posts-blog {
    margin: $main-margin;
    margin-left: -$main-margin;
    margin-right: 0px;
    clear: both;
    overflow: hidden;
    margin-bottom: 0;

    .info_post {
        color: $infoColor;
    }

    .post_title {
        border-bottom: 1px solid #DDD;
        padding-bottom: $main-padding /  2;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .latest-posts-blog {
        margin-right: -$main-margin;
    }
}

.latest-posts-blog > div {
    background-color: $color2;
    padding: $main-padding;
    min-height: 340px;
    margin: $main-margin;
    width: calc(33.33% - 20px);
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 991px){
    .latest-posts-blog > div {
        width: calc(50% - 20px);
    }

    .latest-posts-blog > div:last-of-type {
        margin-bottom: $main-margin;
    }
}

@media (max-width: 767px){
    .latest-posts-blog > div {
        width: 100%;
        margin: $main-margin * 2 0;
    }

    .latest-posts-blog > div:last-of-type {
        margin-bottom: 0;
    }
}

.latest-posts-blog > div .post-image-home {
    width: 110%;
    height: 185px;
    background-color: $color8;
    overflow: hidden;
    margin-top: -$main-margin;
    margin-right: -$main-margin;
    margin-left: -$main-margin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-posts-blog > div .post-image-home img {
	width: 130%;
}