.mini-slider {
    background-color: var(--color2);
    margin: $main-margin;
    margin-left: 0;
    margin-top: $main-margin * 2;
    position: relative;
    z-index: 2;

    .hide_item {
        position: absolute;
        top: 50%;
        left: -26px;
        font-size: $font-size + 10;
        cursor: pointer;
    }

    .reload_again_small_slider {
        font-size: $font-size  + 1 !important;
        left: -30px !important;
        top: -20px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px){
	.mini-slider {
		margin-right: 0;
	}
}

@media (max-width: 767px){
	.mini-slider {
	    text-align: center;
	    margin-right: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}

.skitter .image {
    overflow: hidden;
    background-color: var(--color2);
}

.skitter.with-dots {
    margin-bottom: 0;
}

.label_skitter p {
    display: inline-block;
}

.container_skitter h4 {
    margin-left: $main-margin +  3;
    font-size: $font-size + 5;
    font-weight: bold;
    color: var(--color1);
}

