/*==========================================
=            Brand Name Section            =
==========================================*/

.brand-name {
    font-weight: bold;
    font-size: $font-size + 8;
    background-color: $color2;
    margin-top: -10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent {
    background-color: transparent !important;
    justify-content: space-between;
    margin: 0px;
    font-size: $font-size + 40;
    position: relative;
    top: -5px;

    a i {
        color: $logo_color;
    }
}

@media (max-width: 767px){
    .brand-name {
        text-align: center;
        margin-bottom: $main-margin * 2;
    }
}


/*=====  End of Brand Name Section  ======*/

/*===========================================
=            Login And Add Item             =
===========================================*/

.add-register-login {
    padding: $main-padding 0;
    margin: $main-margin;
    background-color: $color2;
    margin-right: $main-margin;

    .login-register {
        color: $infoColor;

        a {
            color: $color6 !important;
        }

        a:hover,
        a:focus, 
        a:active, 
        a:visited {
            border: 0;
            outline: none;
            color: $infoColor;
        }

        a.header_login:before {
            content: "\f2c0";
            font-family: 'icomoon' !important;
            margin: $main-margin / 2;
        }

        a.header_signup:before {
            content: "\f234";
            font-family: 'icomoon' !important;
            margin: $main-margin / 2;
        }

        span.phoe-span-3, 
        span.phoe-span-2 {
            display: none;
        }
    }

    p {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .add-register-login{
        margin: $main-margin 0;
        margin-right: 10px;
    }
}

@media (max-width: 767px){
    .add-register-login {
        margin: $main-margin 0px;
    }
}

/*=====  End of Login And Add Item   ======*/






