.parent_hide_show {
	
	.hide_item {
	    position: absolute;
	    z-index: 5;
	    top: 50%;
	    left: -26px;
	    font-size: $font-size + 10;
	    cursor: pointer;
	}

	.reload_again {
	    font-size: $font-size + 1 !important;
	    left: -30px !important;
	}
}

.site-header {

	.skitter.with-thumbs {
	    margin-bottom: 60px;
	    margin: 0px auto 10px;
	    width: 100% !important;
	    max-width: initial;
	}

	.label_skitter {
	    background: none;
	    width: 300px;
	    height: 150px;
		top: 100px;
	    left: 100px;
	    perspective: 800px;
	    perspective-origin: top;
	    text-align: center;
	}

	.test-title {
	    font-weight: bold;
	    font-size: $font-size + 20;
	    padding: 5px 10px;
	    background-color: var(--color1);
	    
	    display: inline-block;
	    transition: all .5s ease-in-out;
	    margin-bottom: 3px;
	}

	.label_skitter p {
	    background-color: var(--color1);
	    
	    margin: 10px 0;
	    margin-bottom: 25px;
	}

	span.cat-pubble {
	    background-color: var(--color5);
	    padding: 5px;
	    color: var(--color2);
	    position: relative;

	    a {
	    	color: var(--fontColorHaveBackground) !important;
	    }
	}

	.skitter .prev_button {
	    width: 42px;
	    height: 42px;
	    left: 10px;
	    top: calc(100% - 30px);
        opacity: .0;
	}

	.skitter .next_button {
	    width: 42px;
	    height: 42px;
	    right: 10px;
	    top: calc(100% - 30px);
        opacity: .0;
	}

	&:hover .prev_button {
		opacity: .2;
	}

	&:hover .next_button {
		opacity: .2;
	}
}