/*============================================
=            Top UpperBar Section            =
============================================*/

.upper-bar-top {
    background-color: var(--color4);
    color: var(--fontColorHaveBackground);
    padding: 5px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        font-family: roboto;
        font-weight: bold;
        font-size: 12px;
        padding: 0;
    }

    .section {
        flex-grow: 1;

        span a {
            color: var(--fontColorHaveBackground);
            text-decoration: underline;
        }
    }

    .section:first-of-type {
        text-align: left;
    }

    .section.two {
        text-align: center;
    }

    .section:last-of-type {
        text-align: right;
    }
}

/*=====  End of UpperBar Section  ======*/
/*==========================================
=            Brand Name Section            =
==========================================*/

.brand-name {
    font-weight: bold;
    font-size: $font-size + 8;
    background-color: var(--color2);
    margin-top: -10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent {
    background-color: transparent !important;
    justify-content: space-between;
    margin: 0px;
    font-size: $font-size + 40;
    position: relative;
    top: -5px;

    a img {
        position: absolute;
        margin-left: -25px;
        margin-top: 6px;
        transition: all .3s ease;
        max-width: 140px;
    }

    a span {
        position: relative;
        left: 0;
        bottom: -5px;
        font-size: 14px;
        opacity: .8; 
        font-family: Open Sans;
        font-weight: normal;
    }
}

@media (max-width: 767px){
    .brand-name {
        text-align: center;
        margin-bottom: $main-margin * 2;
    }
}


/*=====  End of Brand Name Section  ======*/

/*===========================================
=            Login And Add Item             =
===========================================*/

.add-register-login {
    padding: $main-padding 0;
    margin: $main-margin;
    background-color: var(--color2);
    margin-right: $main-margin;

    .login-register {
        color: var(--infoColor);

        a {
            color: var(--color8) !important;
        }

        a:hover,
        a:focus, 
        a:active, 
        a:visited {
            border: 0;
            outline: none;
            color: var(--color8);
        }

        a.header_login:before {
            content: "\f2c0";
            font-family: 'icomoon' !important;
            margin: 0;
            position: absolute;
            left: 45px;
            top: 50%;
            transform: translate(0,-50%);
            font-size: 20px;
            color: var(--color4);
        }

        a.header_signup:before {
            content: "\f234";
            font-family: 'icomoon' !important;
            margin: 0;
            position: absolute;
            right: 45px;
            top: 50%;
            transform: translate(0,-50%);
            font-size: 20px;
            color: var(--color4);
        }

        span.phoe-span-3, 
        span.phoe-span-2 {
            display: none;
        }
    }

    p {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .add-register-login{
        margin: $main-margin 0;
        margin-right: 10px;
    }
}

/*=====  End of Login And Add Item   ======*/






