/*===========================================
=            Header Nenu Section            =
===========================================*/

nav.header-menu {
    margin: $main-margin $main-margin $main-margin 0px;
    background-color: $color2;
    perspective: 800px;
    perspective-origin: bottom;
    z-index: 152;
}

@media (min-width: 768px) and (max-width: 991px){
    nav.header-menu {
        margin-right: 0;
    }
}

nav.header-menu .menu-headermenu-container > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.menu-headermenu-container > ul > li {
    font-size: $font-size - 2;
    position: static;
    padding: $main-padding $main-padding * 2;
}

.menu-headermenu-container > ul > li:not(.dropdown) {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.menu-headermenu-container > ul > li:not(.dropdown) :before {
    content: attr(title);
    background-color: $color3;
    color: $color2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all .5s ease-in-out;
    border-top: 4px solid $color5;
    opacity: 0;
}

.menu-headermenu-container > ul > li:not(.dropdown):hover a:before {
    transform: rotateX(0deg);
    opacity: 1;
}

.menu-headermenu-container > ul > li:not(.dropdown) :after {
    content: attr(title);
    background-color: $color6;
    color: $color2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all .5s ease-in-out;
    border-top: 4px solid $color5;
    opacity: 0;
}

.menu-headermenu-container > ul > li:not(.dropdown):hover a:after {
    transition-delay: .3s;
    transform: rotateX(0deg);
    opacity: 1;
}

ul.dropdown-menu li {
    font-size: $font-size - 5;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6);
}

ul.dropdown-menu li:last-of-type {
    font-size: $font-size - 5;
    border-bottom: 0;
}

div.get-posts-in-menu {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.00, #ffb900), color-stop(1.0, #1aafd0));
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-left: none;

    .post-box {
        width: 25%;
        border: 10px solid transparent;
        padding-top: 15px;

        .preload {
            position: relative;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: #fff;
                position: absolute;
            }
        }

        .post-image-box {
            max-width: 100%;
            height: 132px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            background-color: #e4e0dd;

            img {
                max-width: 140%;
            }
        }

        .info-box {

            h4 {

                a {
                    color: #fff;

                    &:before {
                        content: "\ea20";
                        font-family: 'icomoon' !important;
                        font-size: 15px;
                    }
                }
            }

            > p {
                margin-top: -5px;
                color: rgba(255, 255, 255, 0.65);
            }
        }
    }
}

ul.dropdown-menu li a {
    color: $infoColor;
    padding: $main-padding;
}

a.dropdown-toggle {
    display: block;
    height: 150%;
}

span.caret {
    border: none;
    font-family: 'icomoon' !important;
    font-size: small;
}

span.caret:before {
    content: "\f107";
    display: block;
    position: relative;
    top: -10px;
    right: 0;
}

.dropdown:hover .dropdown-menu {
    transform: rotateX(0deg);
    opacity: 1;
}

.dropdown-menu {
    border: 0;
    position: absolute;
    background-color: $color2;
    color: #1f1f1f !important;
    box-shadow: none;
    top: 45px;
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
    transform: rotateX(-90deg);
    transform-origin: top;
    transition: all .5s ease;
    display: block;
    opacity: 0;
}

.dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus {
	color: $color2;
    text-decoration: none;
    background-color: #f0b80d;
}

/*=====  End of Header Nenu Section  ======*/