/*===========================================
=            Total Cart Section            =
===========================================*/

.total-cart {
    margin: $main-margin;
    background-color: $color2;
    padding: $main-padding;
    margin-right: 0;
    margin-left: $main-margin;
    color: $infoColor;
    position: relative;
    perspective: 800px;
    perspective-origin: bottom;
    z-index: 2;

    span.update-total {
        margin: $main-margin + 5;
        cursor: pointer;

        &:hover span.show-value-box-dropdown {
            transform: rotateX(0deg);
        }

        span.show-value-box-dropdown {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.89);
            color: #5d5d5d;
            top: 40px;
            left: 0;
            padding: 10px;
            z-index: 50;
            min-width: 100%;
            border: 1px solid #eaeaea;
            border-top: none;
            transform: rotateX(-90deg);
            transform-origin: top;
            transform-style: preserve-3d;
            transition: all .5s ease;

            .items {
                overflow: hidden;
                padding: 2px;

                &:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.14);
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                margin: $main-margin 0 $main-margin / 2;
            }
        }
    }

    span.calc-total {
        margin: $main-margin + 5;
        cursor: pointer;

        span.click-here {
            position: absolute;
            right: 25px;
            font-size: 30px;
            top: -3px;
            color: #6a67ce;
            animation: 1s linear 0s infinite alternate clickHere;
        }

        @keyframes clickHere {
            0% {
                right: 25px;
                opacity: .5;
            }

            50% {
                right: 10px;
                opacity: 1;
            }

            100% {
                right: 25px;
                opacity: .5;
            }
        }

        &:hover span.calc-total-box-dropdown {
            transform: rotateX(0deg);
        }

        span.calc-total-box-dropdown {
            position: absolute;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.89);
            top: 40px;
            right: 0;
            z-index: 50;
            color: #333;
            border: 1px solid #eaeaea;
            border-top: none;
            transform: rotateX(-90deg);
            transform-origin: top;
            transform-style: preserve-3d;
            transition: all .5s ease;
            padding-bottom: 10px;

            span.select-country {
                color: $infoColor;
                display: block;
                padding: $main-padding;
            }

            form {
                display: block;

                select {
                    padding: $main-padding / 2;
                    margin: $main-margin / 2;
                }

                span.text-center.convert_result {
                    font-size: $font-size - 5;
                    color: $infoColor;
                }
            }

            #save_country {
                margin: $main-margin;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .total-cart {
        margin-left: 0px;
    }
}

@media (max-width: 767px){
    .total-cart {
        margin-left: 0px;
        margin-top: $main-margin * 2;
        margin-bottom: $main-margin * 2;
    }
}

.search-in-header {
    margin: $main-padding;
    padding: 6px;
    background-color: $color2;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 4px solid $color6;

    i {
        position: absolute;
        top: -1px;
        right: -2px;
        width: 40px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        color: $color2;
        border: 6px solid $color6;
        background-color: $color6;
    }
}

/*=====  End of Total Cart Section  ======*/