/*===========================================
=            Total Cart Section            =
===========================================*/

.total-cart {
    margin: $main-margin;
    background-color: $color2;
    padding: $main-padding;
    margin-right: 0;
    margin-left: $main-margin;
    color: $infoColor;
    position: relative;
    perspective: 800px;
    perspective-origin: bottom;
    z-index: 100;

    span.update-total {
        margin: 0 $main-margin + 5;
        cursor: pointer;

        &:hover span.show-value-box-dropdown {
            transform: rotateX(0deg);
        }

        span.show-value-box-dropdown {
            position: absolute;
            background-color: rgba($color2, 0.89);
            color: lighten($color8, 10%);
            top: 40px;
            left: 0;
            padding: 10px;
            z-index: 50;
            min-width: 100%;
            border: 1px solid $color1;
            border-top: none;
            transform: rotateX(-90deg);
            transform-origin: top;
            transform-style: preserve-3d;
            transition: all .5s ease;

            .items {
                overflow: hidden;
                padding: 2px;

                &:nth-child(even) {
                    background-color: rgba($color2, 0.14);
                    background-color: rgba($color2, 0.77) !important;
                    color: lighten($color8, 20%);
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                margin: $main-margin 0 $main-margin / 2;
            }
        }
    }

    span.calc-total {
        margin: 0 $main-margin + 5;
        cursor: pointer;

        span.click-here {
            position: absolute;
            right: 94px;
            top: -35px;
            font-size: $font-size + 10;
            top: -3px;
            color: $color5;
            animation: 1s linear 0s infinite alternate clickHere;
        }

        @keyframes clickHere {
            0% {
                top: -35px;
                opacity: .5;
            }

            50% {
                top: -30px;
                opacity: 1;
            }

            100% {
                top: -35px;
                opacity: .5;
            }
        }

        &:hover span.calc-total-box-dropdown {
            transform: rotateX(0deg);
        }

        span.calc-total-box-dropdown {
            position: absolute;
            width: 100%;
            background-color: rgba($color2, 0.89);
            top: 40px;
            right: 0;
            z-index: 50;
            color: $color8;
            border: 1px solid $color1;
            border-top: none;
            transform: rotateX(-90deg);
            transform-origin: top;
            transform-style: preserve-3d;
            transition: all .5s ease;
            padding-bottom: 10px;

            span.select-country {
                color: $infoColor;
                display: block;
                padding: $main-padding;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                select {
                    padding: $main-padding / 2;
                    margin: $main-margin / 2;
                }

                span.text-center.convert_result {
                    font-size: $font-size - 5;
                    color: $color8;
                    padding: 10px 0;
                    font-weight: bold;
                    font-family: $fontThree;
                }
            }

            #save_country {
                margin: $main-margin;
            }
        }
    }

    span.show-followed {
        margin: 0 15px;
        cursor: pointer;

        &:hover > span.show-followed-dropdown-box {
            transform: rotateX(0deg);
        }
    }

    span.show-followed-dropdown-box {
        position: absolute;
        width: 100%;
        background-color: rgba($color2, 0.89);
        top: 40px;
        right: 0;
        z-index: 50;
        color: $color8;
        border: 1px solid $color1;
        border-top: none;
        transform: rotateX(-90deg);
        transform-origin: top;
        transform-style: preserve-3d;
        transition: all .5s ease;
        padding-bottom: 10px;
        padding: 10px;

        .items {
            overflow: hidden;
            padding: 2px;

            &:nth-child(even) {
                background-color: rgba($color2, 0.14);
                background-color: rgba($color2, 0.77) !important;
                color: lighten($color8, 10%);
            }
        }

        button {
            margin-top: 15px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .total-cart {
        margin-left: 0px;
    }
}

@media (max-width: 767px){
    .total-cart {
        margin-left: 0px;
        margin-top: $main-margin * 2;
        margin-bottom: $main-margin * 2;
    }
}

.search-in-header {
    margin: $main-padding;
    padding: 6px;
    background-color: $color2;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 4px solid $color6;

    i {
        position: absolute;
        top: -1px;
        right: -2px;
        width: 40px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        color: $color2;
        border: 6px solid $color6;
        background-color: $color6;
    }
}

@media (max-width: 767px){
    .search-in-header {
        margin: 20px 0 10px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .search-in-header {
        margin-right: 0;
    }
}

/*=====  End of Total Cart Section  ======*/