/*=======================================
=            About Us Wedget            =
=======================================*/

.dwwp-sidebar-custom-widget-about-us {
    background-color: $color2;
}

.dwwp-sidebar-custom-widget-about-us h4 {
    background-color: $color2;
    color: $color8;
    padding: $main-padding;
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;

    i {
		font-size: 13px;
		background-color: $color3;
		color: $color2;
		width: 25px;
		height: 25px;
		display: inline-flex;
		position: relative;
		margin-right: 5px;
		justify-content: center;
		align-items: center;
		border-radius: 2px;
    }
}

.dwwp-sidebar-custom-widget-about-us img {
    max-width: 100%;
}

.dwwp-sidebar-custom-widget-about-us p {
    padding: $main-padding;
    margin: 0;
}

/*=====  End of About Us Wedget  ======*/