/*=========================================
=            Go To Shop Widget            =
=========================================*/

.go-to-shop-widget div {
    background-color: $color5;
    color: $color2;
    padding: $main-padding;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    font-weight: bold;
    margin: $main-margin 0 $main-margin * 2;
}

.go-to-shop-widget div p {
    font-size: $font-size - 4;
    margin-top: $main-margin * 2;
}

/*=====  End of Go To Shop Widget  ======*/