/*===========================================
=            Social Media Widget            =
===========================================*/

.social-media-icon-widget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color2);
    padding: $main-padding;
    padding-bottom: 0;
}

#social_media-1 h4,
#social_media-2 h4,
#social_media-3 h4,
#social_media-4 h4,
#social_media-5 h4,
#social_media-6 h4,
#social_media-7 h4,
#social_media-8 h4,
#social_media-9 h4,
#social_media-10 h4,
#social_media-11 h4,
#social_media-12 h4,
#social_media-13 h4 {
    background-color: var(--color2);
    padding: 10px 5px;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;

    i {
        font-size: 13px;
        background-color: var(--color3);
        color: var(--fontColorHaveBackground);
        width: 25px;
        height: 25px;
        display: inline-flex;
        position: relative;
        margin-right: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
    }
}

.social-media-icon-widget a {
    width: calc(50% - 12px);
    margin: $main-margin 0;
    text-align: center;
    border-radius: 2px;
    display: block;
    padding: $main-padding;
    color: var(--color2);
    margin-top: 0;
    position: relative;
    overflow: hidden;
}

.social-media-icon-widget i {
    font-size: 20px;
    position: relative;
    z-index: 5;
    color: #fff;
}

.social-media-icon-widget a span:last-of-type {
    position: relative;
    z-index: 5;
    bottom: 2px;
    color: #fff;
}

.social-media-icon-widget a span.overlay {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.social-media-icon-widget a.YouTube {
    background-color: #dc4d3c;

    span.overlay {
       background-color: darken(#dc4d3c, 15%);
    }
}

.social-media-icon-widget a.facebook {
    background-color: #425c9d;

    span.overlay {
       background-color: darken(#425c9d, 15%);
    }
}

.social-media-icon-widget a.twitter {
    background-color: #44cefd;

    span.overlay {
       background-color: darken(#44cefd, 15%);
    }
}

.social-media-icon-widget a.google_plus {
    background-color: #df6c5e;

    span.overlay {
       background-color: darken(#df6c5e, 15%);
    }
}

.social-media-icon-widget a.Dribbble {
    background-color: #f7659c;

    span.overlay {
       background-color: darken(#f7659c, 15%);
    }
}

.social-media-icon-widget a.Vimeo {
    background-color: #35c6ea;

    span.overlay {
       background-color: darken(#35c6ea, 15%);
    }
}

.social-media-icon-widget a.soundcloud {
    background-color: #ff7e30;

    span.overlay {
       background-color: darken(#ff7e30, 15%);
    }
}

.social-media-icon-widget a.behance {
    background-color: #1879fd;

    span.overlay {
       background-color: darken(#1879fd, 15%);
    }
}

.social-media-icon-widget a.instagram {
    background-color: #3897f0;

    span.overlay {
       background-color: darken(#3897f0, 15%);
    }
}

.social-media-icon-widget a.github {
    background-color: #3f91cb;

    span.overlay {
       background-color: darken(#3f91cb, 15%);
    }
}

/*=====  End of Social Media Widget  ======*/