.list_posts_tags {
    background-color: var(--color2);
    margin-top: 20px;

	h4 {
		display: flex;
		align-items: center;
		padding: 10px 5px;
		font-size: 18px;
	    letter-spacing: 1px;

		i {
			font-size: 13px;
			background-color: var(--color3);
			color: var(--fontColorHaveBackground);
			width: 25px;
			height: 25px;
			display: inline-flex;
			position: relative;
			margin-right: 5px;
			justify-content: center;
			align-items: center;
			border-radius: 2px;
		}
	}

	.parent-tags {
	    padding: 10px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;

		> span.tag-in-widget {
		    padding: 5px;
		    border: 1px solid var(--color1);
		    display: inline-block;
		    margin: 2px;
		    transition: all .3s ease-in-out;

		    &:hover {
		    	background-color: var(--color7);
		    	color: var(--fontColorHaveBackground);
		    }

		    &:hover a {
		    	color: var(--fontColorHaveBackground);
		    }

		    &:hover i {
		    	color: var(--fontColorHaveBackground);
		    	opacity: .8;
		    }

		    i {
		    	opacity: .2;
		    }

		    a {
		    	color: var(--infoColor);
		    }
		}
	}
}