.list_posts_tags {
    background-color: $color2;
    margin-top: 20px;

	h4 {
		display: flex;
		align-items: center;
		border-bottom: 1px solid $color4;
		padding: 10px 5px;

		i {
			font-size: 13px;
			background-color: $color4;
			color: $color2;
			width: 25px;
			height: 25px;
			display: inline-flex;
			position: relative;
			margin-right: 5px;
			justify-content: center;
			align-items: center;
			border-radius: 2px;
		}
	}

	.parent-tags {
	    padding: 10px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;

		> span.tag-in-widget {
		    padding: 5px;
		    border: 1px solid $color1;
		    display: inline-block;
		    margin: 2px;
		    transition: all .3s ease-in-out;

		    &:hover {
		    	background-color: $color7;
		    }

		    &:hover a {
		    	color: $color2;
		    }

		    &:hover i {
		    	color: $color2;
		    	opacity: .8;
		    }

		    i {
		    	opacity: .2;
		    }

		    a {
		    	color: $infoColor;
		    }
		}
	}
}