/*==========================================
=            Widget Latest Item            =
==========================================*/

.top-items-shop-widget {
    margin-top: $main-margin *2;

    h4 {
        background-color: var(--color2);
        color: var(--color8);
        padding: $main-padding;
        margin: 0;
        font-size: 18px;
        letter-spacing: 1px;

        i {
            font-size: 13px;
            background-color: var(--color3);
            color: var(--fontColorHaveBackground);
            width: 25px;
            height: 25px;
            display: inline-flex;
            position: relative;
            margin-right: 5px;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
        }
    }

}

.top-items-shop-widget {
    margin-top: $main-margin * 2;

    .parent-image-in-loop-products {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            opacity: .0;
            background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, var(--color6)), color-stop(1, var(--color4)));
        }
    }

    .item {
        background-color: var(--color2);
        overflow: hidden;

        &:hover > .info-item .panel-primary {
            opacity: 1;
        }
    }

    .item img {
        max-width: 100%;
    }

    span.sale {
        position: absolute;
        top: 20px;
        right: 20px;
        color: var(--color3);
        font-size: 50px;
    }

    .carousel-caption {
        bottom: 0;
        color: var(--color8);
        position: static;
        padding: $main-padding;
        text-align: left;

        span.discount-number {
            margin: 0;

            .numberCircle {
                font: 12px Arial, sans-serif;
                width: 2em;
                padding: $main-padding /  2;
                height: 2em;
                background: var(--color3);
                text-align: center;
                color: var(--fontColorHaveBackground);
                border-radius: 50%;
                line-height: 2em;
                box-sizing: content-box;
                display: inline-block;
                margin-right: 4px;
                position: relative;
                top: -4px;
            }
        }

        .info-for-the-post {
            color: var(--infoColor);
            margin: 0;
        }

        .decsription {
            color: var(--infoColor);
            padding: $main-padding /  2 0;
        }
    }

    a.left.carousel-control i {
        position: absolute;
        top: -28px;
        right: 35px;
        text-shadow: none;
        padding-right: 1px;
        
        border-radius: 2px;
        font-size: 20px;
    }

    a.right.carousel-control i {
        position: absolute;
        top: -28px;
        right: 11px;
        text-shadow: none;
        padding-left: 1px;
        
        border-radius: 2px;
        font-size: 20px;
    }

    a.left.carousel-control {
    background-image: none;
    font-size: $font-size - 5;
    position: static;
    }

    a.right.carousel-control {
        background-image: none;
        font-size: $font-size - 5;
    }

    .carousel-inner {
        background-color: var(--color2);
    }

    .carousel-inner img {
        width: 100%;
    }

    .info-item {
        position: absolute;
        top: 20px;
        left: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 11px;
        color: var(--infoColor);

        .panel-primary {
            opacity: 0;
            transition: all .5s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        .likes {
            font-size: $font-size - 3;
            font-family: sans-serif;
            text-align: center;
            display: inline-block;

            .numberCircle {
                font: 12px Arial, sans-serif;
                width: 1em;
                padding: $main-padding /  2;
                height: 1em;
                background: rgb(94, 145, 255);
                text-align: center;
                color: var(--color2);
                border-radius: 50%;
                line-height: 1em;
                box-sizing: content-box;
                display: inline-block;
                margin-right: 4px;
            }

            i {
                padding-left: $main-padding /  2;
                position: relative;
                left: -4px;
            }
        }

        .price {
            font-size: $font-size - 5;

            .numberCircle {
                font: 12px Arial, sans-serif;
                width: 1em;
                padding: $main-padding /  2;
                height: 1em;
                background: var(--color5);
                text-align: center;
                color: var(--color2);
                border-radius: 50%;
                line-height: 1em;
                box-sizing: content-box;
                display: inline-block;
                margin-right: 4px;
                position: relative;
                top: -4px;
            }

            .main-price {
                color: var(--color2);
                padding: $main-padding /  2 $main-padding;
                font-size: $font-size + 2;

                i {
                    font-size: 10px;
                    position: relative;
                    top: -8px;
                    left: 0px;
                }
            }

            .price-without-disc {
                color: var(--color2);
                text-align: center;
                padding: 2px 5px;
                font-size: $font-size - 5;
                display: inline-block;
                text-decoration-color: var(--color2);
                margin-top: $main-margin;
                width: auto;
                max-width: 70px;
                opacity: 0.7;
            }
            .discount-number {
                color: var(--color1);
                margin-top: $main-margin;
            }
        }
    }

    .carousel-caption h5 {
        font-size: $font-size - 2;
    }

}

/*=====  End of Widget Latest Item  ======*/

/*=========================================
=            Go To Shop Widget            =
=========================================*/

.go-to-blog-widget div {
    background-color: var(--color7);
    color: var(--color1);
    padding: $main-padding;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    font-weight: bold;
    margin: $main-margin 0 $main-margin * 2;
}

.go-to-blog-widget div p {
    font-size: $font-size - 4;
    margin-top: $main-margin * 2;
}

/*=====  End of Go To Shop Widget  ======*/