/*==========================================
=            FrameWork And vars            =
==========================================*/
body {
  background-color: #eaeaea;
  font-family: 'Dosis', sans-serif; }

.nopadding {
  padding: 0;
  margin: 0; }

.bold {
  font-weight: bold; }

.align-v {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: #6a67ce; }

#wpadminbar #wp-admin-bar-shop .ab-icon:before {
  content: "\f174";
  color: #ff9200; }

.grid-item {
  width: 45%;
  margin: 5px; }

.parent {
  margin-right: -15px;
  margin-left: -5px;
  margin-top: -5px; }

/*=====  End of FrameWork And vars  ======*/
/*========================================
=            Bootstrap Modify            =
========================================*/
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #6a67ce), color-stop(0.48, #ffb900));
  outline: 0; }

.input-group-addon {
  padding: 0px 0px 0 12px;
  font-size: 18px;
  background-color: #ffffff;
  border-left: 1px solid #ccc !important;
  border-top: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important; }

input.form-control:focus {
  box-shadow: none;
  border: 1px solid #CCC;
  border-left: 0; }

input.form-control {
  border-left: 0;
  border-radius: 0; }

.input-group {
  margin-top: 10px; }

.btn-info {
  color: #ffffff !important;
  border-radius: 3px;
  border: 0;
  background-color: #08f; }

.btn-primary {
  border-radius: 3px;
  border: 0;
  color: #ffffff !important;
  background-color: #42b72a; }

.carousel-caption {
  text-shadow: none; }

@media (max-width: 767px) {
  a {
    position: relative;
    z-index: 1; } }
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black !important; }

/*=====  End of Bootstrap Modify  ======*/
/*======================================
=            Header Section            =
======================================*/
.site-header {
  width: 100%;
  height: 515px;
  background-color: #ffffff;
  margin: 0 0 10px 0;
  overflow: hidden; }

header.site-header img {
  width: 100%;
  position: relative;
  top: -140px; }

/*==========================================
=            Brand Name Section            =
==========================================*/
.brand-name {
  padding: 10px;
  margin-left: 0;
  padding-left: 0;
  font-weight: bold;
  font-size: 28px; }

@media (max-width: 767px) {
  .brand-name {
    text-align: center;
    margin-bottom: 20px; } }
/*=====  End of Brand Name Section  ======*/
/*=============================================
=            Icon Like,Cart,Follow            =
=============================================*/
.icon-header1 {
  margin: 10px;
  font-size: 25px;
  padding: 2px;
  position: relative;
  top: 12px;
  text-align: right; }

@media (max-width: 767px) {
  .icon-header1 {
    text-align: center;
    margin-bottom: 20px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .icon-header1 {
    text-align: right; } }
.icon-header1 i {
  padding: 11px;
  cursor: pointer;
  position: relative; }

.icon-header1 i span {
  position: absolute;
  font-size: 11px;
  color: #ffffff;
  width: 22px;
  text-align: center;
  border-radius: 8px;
  height: 16px;
  line-height: 18px;
  top: -12px;
  left: 11px;
  font-family: arial; }

.icon-header1 i:nth-of-type(1) span {
  background-color: #6a67ce !important; }

.icon-header1 i:nth-of-type(2) span {
  background-color: #ffb900; }

.icon-header1 i:nth-of-type(3) span {
  background-color: #fc636b; }

.icon-header1 i:nth-of-type(1) span:before {
  content: '';
  border-top: 7px solid #6a67ce;
  border-bottom: 7px solid transparent;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  bottom: -12px;
  left: 4px; }

.icon-header1 i:nth-of-type(2) span:before {
  content: '';
  border-top: 7px solid #ffb900;
  border-bottom: 7px solid transparent;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  bottom: -12px;
  left: 4px; }

.icon-header1 i:nth-of-type(3) span:before {
  content: '';
  border-top: 7px solid #fc636b;
  border-bottom: 7px solid transparent;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  bottom: -12px;
  left: 4px; }

nav.primary-menu ul li:nth-of-type(4) i {
  position: relative;
  top: 2px; }

.icon-header1 i:nth-of-type(1) {
  color: #ffb900 !important; }

.icon-header1 i:nth-of-type(2) {
  color: #ffb900; }

.icon-header1 i:nth-of-type(3) {
  color: #fc636b; }

/*=====  End of Icon Like,Cart,Follow  ======*/
/*===========================================
=            Search Form Section            =
===========================================*/
.form-search {
  margin: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin-right: 0;
  margin-left: 10px; }

@media (min-width: 768px) and (max-width: 991px) {
  .form-search {
    margin-left: 0px; } }
@media (max-width: 767px) {
  .form-search {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px; } }
/*=====  End of Search Form Section  ======*/
/*===========================================
=            Login And Add Item             =
===========================================*/
.add-register-login {
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  margin-right: 10px; }

@media (min-width: 768px) and (max-width: 991px) {
  .add-register-login {
    margin: 10px 0; } }
@media (max-width: 767px) {
  .add-register-login {
    margin: 10px 0px; } }
/*=====  End of Login And Add Item   ======*/
/*===========================================
=            Header Nenu Section            =
===========================================*/
nav.header-menu {
  padding: 10px;
  margin: 10px 10px 10px 0px;
  background-color: #ffffff;
  border-left: 5px solid #1aafd0; }

@media (min-width: 768px) and (max-width: 991px) {
  nav.header-menu {
    margin-right: 0; } }
nav.header-menu .menu-headermenu-container > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around; }

.menu-headermenu-container ul > li {
  font-size: 19px; }

ul.dropdown-menu li {
  font-size: 15px; }

ul.dropdown-menu li a {
  color: #ffffff; }

.open > .dropdown-menu {
  display: block;
  border: 0;
  position: absolute;
  background-color: #ffb900;
  color: #ffffff;
  box-shadow: none;
  top: 43px;
  width: 220px;
  border-radius: 4px; }

.dropdown-menu:before {
  content: '';
  border-top: 8px solid rgba(252, 99, 107, 0);
  border-bottom: 8px solid #ffb900;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  left: 10px;
  top: -16px; }

.portfolio-container .dropdown-menu:after {
  content: "\e9e5";
  font-family: 'icomoon', arial;
  position: absolute;
  top: -16%;
  left: 59%;
  font-size: 78px;
  color: rgba(255, 255, 255, 0.24); }

.contact-container .dropdown-menu:after {
  content: "\e929";
  font-family: 'icomoon', arial;
  position: absolute;
  top: -14%;
  left: 58%;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.24); }

.blog-container .dropdown-menu:after {
  content: "\e9a8";
  font-family: 'icomoon', arial;
  position: absolute;
  top: -19%;
  left: 54%;
  font-size: 87px;
  color: rgba(255, 255, 255, 0.24); }

.services-container .dropdown-menu:after {
  content: "\e043";
  font-family: 'icomoon', arial;
  position: absolute;
  top: -14%;
  left: 58%;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.24); }

.about-container .dropdown-menu:after {
  content: "\e9c3";
  font-family: 'icomoon', arial;
  position: absolute;
  top: -14%;
  left: 58%;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.24); }

.features-container .dropdown-menu:after {
  content: "\e966";
  font-family: 'icomoon', arial;
  position: absolute;
  top: -14%;
  left: 58%;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.24); }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #333;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(0.48, #ffb900)); }

/*=====  End of Header Nenu Section  ======*/
/*============================================
=            Primary Menu Section            =
============================================*/
nav.primary-menu {
  margin: 10px; }

ul#menu-main li {
  display: flex;
  justify-content: center;
  align-items: center; }

nav.primary-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around; }

ul#menu-main i {
  font-size: 20px; }

nav.primary-menu ul li {
  width: 45px;
  height: 45px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff; }

nav.primary-menu ul li i {
  color: #ffffff; }

nav.primary-menu ul li:nth-of-type(1) {
  background-color: #3be8b0; }

nav.primary-menu ul li:nth-of-type(2) {
  background-color: #6a67ce; }

nav.primary-menu ul li:nth-of-type(3) {
  background-color: #ffb900; }

nav.primary-menu ul li:nth-of-type(4) {
  background-color: #fc636b; }

/*=====  End of Primary Menu Section  ======*/
/*=====  End of Header Section  ======*/
/*=======================================
=            Sidebar Section            =
=======================================*/
.custom-sidebar-widget {
  margin: 10px;
  margin-right: 0; }

@media (max-width: 767px) {
  .custom-sidebar-widget {
    margin-left: 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .custom-sidebar-widget {
    margin-left: 0; } }
/*=======================================
=            About Us Wedget            =
=======================================*/
.dwwp-sidebar-custom-widget-about-us {
  background-color: #ffffff; }

.dwwp-sidebar-custom-widget-about-us h4 {
  background-color: #ffffff;
  color: #333;
  padding: 10px;
  margin: 0; }

.dwwp-sidebar-custom-widget-about-us img {
  max-width: 100%; }

.dwwp-sidebar-custom-widget-about-us p {
  padding: 10px;
  margin: 0; }

/*=====  End of About Us Wedget  ======*/
/*===========================================
=            Social Media Widget            =
===========================================*/
.social-media-icon-widget {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 10px;
  padding-bottom: 0; }

.social-media-icon-widget h4 {
  background-color: #1aafd0;
  color: #ffffff;
  padding: 10px;
  margin: 0; }

.social-media-icon-widget a {
  width: calc(50% - 12px);
  margin: 10px 0;
  text-align: center;
  border-radius: 2px; }

.social-media-icon-widget i {
  font-size: 20px; }

.social-media-icon-widget a span {
  position: relative;
  bottom: 2px; }

.social-media-icon-widget a:nth-of-type(1) {
  display: block;
  padding: 10px;
  color: #ffffff;
  background-color: #dc4d3c;
  margin-top: 0; }

.social-media-icon-widget a:nth-of-type(2) {
  display: block;
  padding: 10px;
  color: #FFF;
  background-color: #425c9d;
  margin-top: 0; }

.social-media-icon-widget a:nth-of-type(3) {
  display: block;
  padding: 10px;
  color: #FFF;
  background-color: #44cefd; }

.social-media-icon-widget a:nth-of-type(4) {
  display: block;
  padding: 10px;
  color: #FFF;
  background-color: #df6c5e; }

.social-media-icon-widget a:nth-of-type(5) {
  display: block;
  padding: 10px;
  color: #FFF;
  background-color: #f7659c !important; }

.social-media-icon-widget a:nth-of-type(6) {
  display: block;
  padding: 10px;
  color: #FFF;
  background-color: #35c6ea !important; }

.social-media-icon-widget a:nth-of-type(7) {
  display: block;
  padding: 10px;
  color: #FFF;
  background-color: #ff7e30 !important; }

.social-media-icon-widget a:nth-of-type(8) {
  display: block;
  padding: 10px;
  color: #FFF;
  background-color: #1879fd !important; }

.social-media-icon-widget a:nth-of-type(9) {
  display: block;
  padding: 10px;
  color: #FFF;
  background-color: #3897f0 !important; }

.social-media-icon-widget a:nth-of-type(10) {
  display: block;
  padding: 10px;
  color: #FFF;
  background-color: #3f91cb !important; }

/*=====  End of Social Media Widget  ======*/
/*=========================================
=            Go To Shop Widget            =
=========================================*/
.go-to-shop-widget div {
  background-color: #6a67ce;
  color: #FFF;
  padding: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-weight: bold;
  margin: 10px 0 20px; }

.go-to-shop-widget div p {
  font-size: 16px;
  margin-top: 20px; }

/*=====  End of Go To Shop Widget  ======*/
/*===========================================
=            Latest Posts Widget            =
===========================================*/
.latest-posts-blog-widget {
  margin-top: 20px;
  position: relative; }

.latest-posts-blog-widget h4 {
  background-color: #ffffff;
  color: #333;
  padding: 10px;
  margin: 0; }

.latest-posts-blog-widget a.left.carousel-control {
  background-image: none;
  font-size: 15px;
  position: static; }

.latest-posts-blog-widget a.right.carousel-control {
  background-image: none;
  font-size: 15px; }

.latest-posts-blog-widget .carousel-inner {
  background-color: #ffffff; }

.latest-posts-blog-widget .carousel-inner img {
  width: 100%; }

.latest-posts-blog-widget a.left.carousel-control i {
  position: absolute;
  top: -28px;
  right: 35px;
  text-shadow: none;
  border: 1px solid #777;
  padding-right: 1px;
  color: #777;
  border-radius: 2px; }

.latest-posts-blog-widget a.right.carousel-control i {
  position: absolute;
  top: -28px;
  right: 11px;
  text-shadow: none;
  border: 1px solid #777;
  padding-left: 1px;
  color: #777;
  border-radius: 2px; }

.latest-posts-blog-widget .date {
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 11px; }
  .latest-posts-blog-widget .date .day {
    background-color: #e9e9e9;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .latest-posts-blog-widget .date .mounth {
    background-color: #4081d1;
    color: #FFF;
    width: 100%; }

.latest-posts-blog-widget .carousel-caption {
  bottom: 0;
  color: #333;
  position: static;
  padding: 10px;
  text-align: left; }
  .latest-posts-blog-widget .carousel-caption .info-for-the-post {
    color: #777;
    margin: 0; }
  .latest-posts-blog-widget .carousel-caption .decsription {
    margin: 10px 0;
    color: #000;
    padding: 5px 0; }

.latest-posts-blog-widget .carousel-caption h5 {
  font-size: 18px;
  margin: 0; }

/*=====  End of Latest Posts Widget  ======*/
/*=============================================
=            Top Liked Item Widget            =
=============================================*/
.top-items-shop-widget {
  margin-top: 20px; }
  .top-items-shop-widget h4 {
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    margin: 0; }

/* Start Reating System */
.rating {
  border: none;
  float: left; }

.rating > input {
  display: none; }

.rating > label:before {
  margin: 0px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.rating > .half:before {
  content: "\f089";
  position: absolute; }

.rating > label {
  color: #ddd;
  float: right; }

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700; }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85; }

/* End Reating System */
/*=====  End of Top Liked Item Widget  ======*/
/*==============================================
=            Our Categories Section            =
==============================================*/
.list_categories li {
  list-style: none;
  margin: 5px 0;
  border: 1px solid #DDD;
  padding: 5px;
  background-color: #fff; }
  .list_categories li a:before {
    content: "\f114";
    font-family: 'icomoon' !important;
    margin-right: 5px;
    color: #ffb900; }
  .list_categories li span.count {
    float: right;
    background-color: #eaeaea;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; }
.list_categories li:nth-of-type(1) span.count {
  background-color: #3be8b0; }
.list_categories li:nth-of-type(2) span.count {
  background-color: #1aafd0; }
.list_categories li:nth-of-type(3) span.count {
  background-color: #6a67ce; }
.list_categories li:nth-of-type(4) span.count {
  background-color: #ffb900; }
.list_categories li:nth-of-type(5) span.count {
  background-color: #fc636b; }
.list_categories li:nth-of-type(6) span.count {
  background-color: #3be8b0; }
.list_categories li:nth-of-type(7) span.count {
  background-color: #1aafd0; }
.list_categories li:nth-of-type(8) span.count {
  background-color: #6a67ce; }
.list_categories li:nth-of-type(9) span.count {
  background-color: #ffb900; }
.list_categories li:nth-of-type(10) span.count {
  background-color: #fc636b; }

/*=====  End of Our Categories Section  ======*/
/*=====  End of Sidebar Section  ======*/
/*=====================================
=            Index Content            =
=====================================*/
.welcome {
  background-color: #ffffff;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  border-left: 5px solid #ffb900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

@media (min-width: 768px) and (max-width: 991px) {
  .welcome {
    margin-right: 0; } }
.welcome p {
  padding: 5px;
  margin-bottom: 0; }

.welcome h3 {
  margin: 0;
  position: relative;
  bottom: 5px;
  padding: 5px;
  width: 43%; }

@media (min-width: 768px) and (max-width: 991px) {
  .welcome h3 {
    width: 55%; } }
.container-grid-images .buttons-section {
  background-color: #ffffff;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  margin-bottom: -10px; }
.container-grid-images .grid-images {
  margin: 10px;
  margin-left: 0; }
  .container-grid-images .grid-images > div {
    overflow: hidden; }
  .container-grid-images .grid-images > div:first-of-type {
    height: 500px; }
    .container-grid-images .grid-images > div:first-of-type .info {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 15px; }
      .container-grid-images .grid-images > div:first-of-type .info h3 {
        color: #ffffff;
        font-size: 40px; }
      .container-grid-images .grid-images > div:first-of-type .info p {
        color: #ffffff; }
      .container-grid-images .grid-images > div:first-of-type .info span {
        color: #ffffff; }
  .container-grid-images .grid-images > div:nth-of-type(2) {
    height: 300px; }
    .container-grid-images .grid-images > div:nth-of-type(2) .info {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 15px; }
      .container-grid-images .grid-images > div:nth-of-type(2) .info h3 {
        color: #ffffff;
        font-size: 40px; }
      .container-grid-images .grid-images > div:nth-of-type(2) .info p {
        color: #ffffff; }
      .container-grid-images .grid-images > div:nth-of-type(2) .info span {
        color: #ffffff; }
  @media (min-width: 768px) and (max-width: 991px) {
    .container-grid-images .grid-images > div:nth-of-type(2) {
      height: 200px; } }
  .container-grid-images .grid-images > div:nth-of-type(3),
  .container-grid-images .grid-images > div:nth-of-type(4) {
    height: 200px; }
    .container-grid-images .grid-images > div:nth-of-type(3) .info,
    .container-grid-images .grid-images > div:nth-of-type(4) .info {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 15px; }
      .container-grid-images .grid-images > div:nth-of-type(3) .info h3,
      .container-grid-images .grid-images > div:nth-of-type(4) .info h3 {
        color: #ffffff;
        font-size: 40px; }
      .container-grid-images .grid-images > div:nth-of-type(3) .info p,
      .container-grid-images .grid-images > div:nth-of-type(4) .info p {
        color: #ffffff; }
      .container-grid-images .grid-images > div:nth-of-type(3) .info span,
      .container-grid-images .grid-images > div:nth-of-type(4) .info span {
        color: #ffffff; }
  .container-grid-images .grid-images .image-box {
    border: 1px solid rgba(255, 255, 255, 0);
    width: 100%;
    height: 100% !important;
    overflow: hidden; }
    .container-grid-images .grid-images .image-box img {
      width: 100%; }

@media (min-width: 768px) and (max-width: 991px) {
  .container-grid-images {
    margin-right: -10px;
    margin-top: 20px;
    margin-bottom: -10px; } }
/*=====  End of Index Content  ======*/
/*====================================
=             Mini Slider            =
====================================*/
.mini-slider {
  background-color: #ffffff;
  margin: 10px;
  margin-left: 0;
  margin-top: 20px;
  overflow: hidden; }

@media (min-width: 768px) and (max-width: 991px) {
  .mini-slider {
    margin-right: 0; } }
@media (max-width: 767px) {
  .mini-slider {
    text-align: center;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center; } }
.skitter.with-dots {
  margin-bottom: 0; }

.label_skitter p {
  display: inline-block; }

.container_skitter h4 {
  margin-left: 13px;
  font-size: 25px;
  font-weight: bold;
  color: #eaeaea; }

/*=====  End of  Mini slider  ======*/
/*====================================
=            Feat Section            =
====================================*/
.feat {
  margin: 10px;
  margin-left: 0;
  margin-top: 20px;
  overflow: hidden; }

@media (min-width: 768px) and (max-width: 991px) {
  .feat {
    margin-right: 0; } }
@media (max-width: 767px) {
  .feat {
    margin-right: 0;
    margin-top: 10px; } }
.feat .box-feat,
.feat .box-feat-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff; }

.feat .box-feat i {
  font-size: 75px;
  margin-bottom: 0px; }

.feat .box-feat-2 i {
  font-size: 75px;
  margin-bottom: 0px; }

.feat .box-feat {
  background-color: #1aafd0;
  padding: 10px;
  height: 300px; }

@media (max-width: 767px) {
  .feat .box-feat {
    width: 100%;
    margin-bottom: 20px; } }
.feat .box-feat-2 {
  background-color: #ffb900;
  padding: 10px;
  height: 300px; }

@media (max-width: 767px) {
  .feat .box-feat-2 {
    width: 100%; } }
/*=====  End of Feat Section  ======*/
/*=====================================
=            Boxes Section            =
=====================================*/
.testimonials {
  background-color: #ffffff;
  border-left: 5px solid #3be8b0;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
  margin-top: 20px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px; }
  .testimonials .carousel {
    position: relative;
    height: 100%; }
  .testimonials .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%; }
  .testimonials .image-testimonials {
    text-align: center;
    width: 116px;
    height: 115px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid #DDD; }
  .testimonials .image-testimonials img {
    width: 150%; }
  .testimonials .carousel-caption {
    position: static;
    padding-top: 20px;
    color: #777;
    text-align: center;
    text-shadow: none; }
  .testimonials .carousel-caption h4 {
    font-weight: bold; }
  .testimonials .container-testimonials {
    width: 100%;
    height: 300px; }
  .testimonials .container-testimonials .item {
    height: 100%; }
  .testimonials .carousel-indicators {
    bottom: 0; }
  .testimonials .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #6a67ce;
    border-radius: 10px; }
  .testimonials .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #3be8b0; }

@media (min-width: 768px) and (max-width: 991px) {
  .testimonials {
    margin-right: 0; } }
@media (max-width: 767px) {
  .container-testimonials {
    height: 420px !important; } }
@media (max-width: 767px) {
  .testimonials {
    margin-right: 0 !important;
    margin-top: 10px !important; } }
/*=====  End of Boxes Section  ======*/
/*=====================================
=            Section Services        =
=====================================*/
.services {
  margin-right: 10px;
  margin-top: 20px;
  overflow: hidden; }
  .services .services-container {
    background-color: #ffffff;
    padding: 10px; }

@media (min-width: 768px) and (max-width: 991px) {
  .services {
    margin-top: 20px;
    margin-right: 0; } }
@media (max-width: 767px) {
  .services {
    margin-right: 0; } }
/*====  End of Section Services  ====*/
/*======================================
=            Section Footer            =
======================================*/
#footer_for_sticky {
  overflow: hidden; }

.site-footer {
  margin: 10px 0;
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 0; }

@media (max-width: 767px) {
  .site-footer {
    padding: 0;
    margin-top: 20px; } }
@media (max-width: 767px) {
  .custom-sidebar-widget-footer2 {
    text-align: center; } }
.custom-sidebar-widget-footer2 ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.menu-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 23px; }

.menu-footer-menu-links-container ul li {
  line-height: 27px; }

.menu-footer-menu-links-container ul li:before {
  content: "\ea20";
  font-family: 'icomoon' !important;
  margin-right: 5px; }

.menu-footer-menu-links-container ul li:before {
  color: #1aafd0; }

.custom-sidebar-widget-footer2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  flex-wrap: wrap;
  margin-left: -40px; }

@media (max-width: 767px) {
  .custom-sidebar-widget-footer2 ul {
    margin-left: 0;
    width: 100%; } }
.custom-sidebar-widget-footer2 ul li a img {
  max-width: 80px;
  margin: 5px;
  border: 4px solid #DDD; }

/*=====  End of Section Footer  ======*/
/*=====================================
=            Latest Posts             =
=====================================*/
.latest-posts-blog {
  margin: 10px;
  margin-left: -10px;
  margin-right: 0px;
  clear: both;
  overflow: hidden;
  margin-bottom: 0; }
  .latest-posts-blog .info_post {
    color: #777; }
  .latest-posts-blog .post_title {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px; }

@media (min-width: 768px) and (max-width: 991px) {
  .latest-posts-blog {
    margin-right: -10px; } }
.latest-posts-blog > div {
  background-color: #ffffff;
  padding: 10px;
  min-height: 340px;
  margin: 10px;
  width: calc(33.33% - 20px);
  overflow: hidden; }

@media (min-width: 768px) and (max-width: 991px) {
  .latest-posts-blog > div {
    width: calc(50% - 20px); }

  .latest-posts-blog > div:last-of-type {
    margin-bottom: 10px; } }
@media (max-width: 767px) {
  .latest-posts-blog > div {
    width: 100%;
    margin: 20px 0; }

  .latest-posts-blog > div:last-of-type {
    margin-bottom: 0; } }
.latest-posts-blog > div .post-image-home {
  width: 110%;
  height: 185px;
  background-color: #333;
  overflow: hidden;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.latest-posts-blog > div .post-image-home img {
  width: 130%; }

/*=====  End of Latest Posts   ======*/
/*======================================
=            Blog Page Section         =
======================================*/
.all-posts-blog {
  margin: 10px;
  margin-left: 0; }

@media (max-width: 767px) {
  .all-posts-blog {
    margin-right: 0; } }
.post-thumbnail-img {
  width: 100%;
  position: relative; }

article.post img {
  width: 100%; }

h1.post-title {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 10px;
  font-size: 28px;
  z-index: 99; }

h1.post-title a {
  color: rgba(0, 0, 0, 0.64); }

.post-thumbnail-img .post-info {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2px 5px;
  color: rgba(0, 0, 0, 0.6);
  z-index: 99; }

.post-thumbnail-img .post-info a {
  color: rgba(0, 0, 0, 0.8); }

p.some-content-post {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 5px solid #ffb900; }

.custom-pagination {
  padding: 5px;
  text-align: center; }

.custom-pagination a {
  background-color: #ffffff;
  padding: 6px;
  margin: 2px; }

.custom-pagination .page-numbers.current {
  margin: 2px;
  background-color: #ffffff;
  padding: 6px; }

/*====  End of Blog Page Section  ====*/
/*=======================================
=            Single Post Section        =
=======================================*/
.content-post {
  background-color: #ffffff;
  margin: 10px;
  margin-left: 0; }

@media (max-width: 767px) {
  .content-post {
    margin-right: 0; } }
.post-meta-container {
  padding: 10px;
  position: relative; }
  .post-meta-container .like-container {
    position: absolute;
    top: 33px;
    right: 25px; }
    .post-meta-container .like-container button {
      background-color: #6a67ce; }
    .post-meta-container .like-container i {
      color: #FFF !important;
      font-size: 20px;
      padding: 0 10px;
      position: relative;
      top: 2px; }
  .post-meta-container p.info_post {
    color: #777; }

ol.comment-list li {
  height: auto !important; }

ol.comment-list .parent {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0; }

.subscribe-container {
  background-color: #ffb900;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
  margin-top: 20px; }
  .subscribe-container form.es_shortcode_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px; }
    .subscribe-container form.es_shortcode_form .es_textbox {
      padding-bottom: 0; }
    .subscribe-container form.es_shortcode_form .es_button {
      padding-top: 0;
      padding-bottom: 0; }
    .subscribe-container form.es_shortcode_form label {
      display: none; }
    .subscribe-container form.es_shortcode_form #es_txt_name_pg {
      display: none; }
    .subscribe-container form.es_shortcode_form input#es_txt_email_pg {
      padding: 5px;
      width: 385px; }
    .subscribe-container form.es_shortcode_form input#es_txt_button_pg {
      padding: 5px; }

/*===  End of Single Post Section  ====*/
/*=======================================
=            Contact Us Page            =
=======================================*/
.container-form-contact-us {
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  background-color: #ffffff;
  overflow: hidden; }
  .container-form-contact-us div.wpcf7-response-output {
    border: none;
    background-color: gainsboro;
    margin-top: 10px; }
  .container-form-contact-us div.wpcf7-validation-errors {
    border: none; }

@media (min-width: 768px) and (max-width: 991px) {
  .container-form-contact-us {
    margin-right: 0; } }
@media (max-width: 767px) {
  .container-form-contact-us {
    margin-right: 0;
    text-align: center; } }
.container-form-contact-us br {
  display: none; }

.container-form-contact-us form input {
  width: 95%; }

.container-form-contact-us form textarea {
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc; }

.container-form-contact-us form .submit {
  margin-top: 5px;
  width: auto; }

.touch-container {
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; }

@media (min-width: 768px) and (max-width: 991px) {
  .touch-container {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px; } }
@media (max-width: 767px) {
  .touch-container {
    margin-left: 0;
    margin-top: 20px; } }
.touch-container i {
  font-size: 26px; }

.touch-container h2 {
  margin-top: 0; }

.touch-container h3 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 7px;
  font-size: 18px; }

/*=====  End of Contact Us Page  ======*/
/*======================================
=            Portfolio Page            =
======================================*/
.container-porfolio {
  margin: 10px;
  margin-left: 0;
  background-color: #ffffff;
  margin-right: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .container-porfolio {
    margin-bottom: 20px;
    padding-bottom: 10px; } }
.panel-wrapper {
  padding: 0 !important; }

.right-block {
  padding: 10px; }

#p-main-slider_2 .slider-content-wrapper .image-block_2 {
  padding: 0 !important; }

/*=====  End of Portfolio Page  ======*/
/*======================================
=            Services Page             =
======================================*/
.container-services {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px 0; }

.service-boxes {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap; }

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  flex-grow: 1;
  margin: 20px; }

.price {
  font-size: 25px; }

.title {
  font-size: 35px;
  font-weight: bold;
  border-bottom: 1px solid #ffffff; }

sub {
  font-size: 13px; }

.plan:nth-of-type(1) {
  background-color: #6a67ce;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px; }

.plan:nth-of-type(2) {
  background-color: #ffb900;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px; }

.plan:nth-of-type(3) {
  background-color: #fc636b;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px; }

.plan:nth-of-type(4) {
  background-color: #3be8b0;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px; }

p.text-blow {
  text-align: center;
  max-width: 902px;
  margin: auto; }

.other-services {
  overflow: hidden;
  text-align: center;
  background-color: #eaeaea;
  margin: 40px; }

.other-services i {
  font-size: 50px; }

.container-about-our-services h3 {
  margin-top: 0; }

.container-about-our-services {
  background-color: #ffffff;
  margin: 10px;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
  padding: 10px; }

/*=====  End of Services Page   ======*/
/*=====================================
=            About Us Page            =
=====================================*/
/*==========================================
=            How Are We Section            =
==========================================*/
.page-about-us-container {
  background-color: #ffffff;
  margin: 10px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 767px) {
  .page-about-us-container {
    display: block; } }
.page-about-us-container > div {
  height: 100%; }

.image-about-us img {
  max-width: 100%; }

.text-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 10px; }

/*=====  End of How Are We Section  ======*/
/*========================================
=            Out Team Esction            =
========================================*/
.team-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap; }

.person {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-top-left-radius: 0;
  border: 10px solid rgba(0, 0, 0, 0.08); }

.person img {
  height: 120%;
  width: 120%; }

.info-member {
  opacity: 0;
  transition: all .5s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 200px; }

.person:hover .info-member {
  opacity: 1; }

.person h4 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.92);
  color: #333;
  padding: 5px 10px; }

span.social-media-team a {
  color: #ffffff; }

span.social-media-team {
  position: absolute;
  top: 65px;
  left: 0;
  padding: 0px 10px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.92);
  font-size: 23px; }

.person .jop {
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 2px 10px;
  background-color: rgba(255, 255, 255, 0.92);
  color: #333;
  font-size: 13px; }

.person .overlay {
  background-color: rgba(0, 0, 0, 0.67);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0;
  transition: all .5s ease; }

.person:hover .overlay {
  opacity: 1; }

.our-team-container {
  background-color: #ffffff;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px; }

.our-team-container h3 {
  margin-top: 0;
  padding: 20px; }

.our-experiance-container {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.our-experiance-container p {
  width: 75%; }

/*=====  End of Out Team Esction  ======*/
/*=====  End of About Us Page  ======*/
/*==================================
=            Help Page             =
==================================*/
.su-spoiler-content.su-clearfix {
  background-color: rgba(255, 255, 255, 0.34); }

.su-spoiler-title {
  background-color: #ffffff; }

.su-spoiler-title {
  font-size: 14px !important; }

.how-are-we {
  background-color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px; }

@media (max-width: 767px) {
  .how-are-we h3 {
    font-size: 20px; }

  .help-container {
    text-align: center; } }
/*=====  End of Help Page   ======*/
/*========================================
=            Comments Section            =
========================================*/
/*=============================================
=            List Comments Section            =
=============================================*/
h2.comments-title {
  font-size: 17px;
  font-weight: bold;
  background-color: #ffffff;
  margin: 20px 0;
  margin-right: 10px;
  padding: 10px; }

@media (max-width: 767px) {
  h2.comments-title {
    margin-right: 0; } }
ol.comment-list {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
  position: relative;
  list-style: none; }

@media (max-width: 767px) {
  ol.comment-list {
    margin-right: 0; } }
ol.children {
  list-style: none;
  background-color: #eaeaea; }

@media (max-width: 767px) {
  ol.children {
    padding-left: 5px; } }
.comment-body {
  position: relative;
  padding-top: 10px; }

.comment-author.vcard img {
  border-radius: 50%;
  border: 2px solid #EEE; }

span.says, .fn {
  font-weight: bold;
  font-style: initial; }

.comment-meta.commentmetadata {
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 10px; }

ol.comment-list p {
  padding: 10px;
  margin-bottom: 0;
  font-style: italic; }

ol.comment-list .reply {
  margin-bottom: 15px; }

h3.comment-reply-title {
  margin: 20px 0;
  margin-right: 10px;
  padding: 10px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff; }

@media (max-width: 767px) {
  h3.comment-reply-title {
    margin-right: 0; } }
/*=====  End of List Comments Section  ======*/
/*===========================================
=            Coment Form Section            =
===========================================*/
.comment-form {
  margin: 10px;
  overflow: hidden;
  padding: 10px;
  margin-left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; }

@media (max-width: 767px) {
  .comment-form {
    margin-right: 0; } }
.comment-form textarea {
  width: 35%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #DDD; }

@media (max-width: 767px) {
  .comment-form textarea {
    width: 95%; } }
p.logged-in-as {
  background-color: #ffffff;
  padding: 5px;
  margin: 10px;
  margin-left: 0;
  display: none; }

.comment-form input {
  width: 35%;
  padding: 7px;
  margin: 10px;
  border: 1px solid #DDD; }

@media (max-width: 767px) {
  .comment-form input {
    width: 95%; } }
p.form-submit {
  width: 100%; }

/*=====  End of Coment Form Section  ======*/
/*=====  End of Comments Section  ======*/
/*======================================
=            Blog Page Two             =
======================================*/
p.some-content-post.two {
  margin-bottom: 10px; }

/*=====  End of Blog Page Two   ======*/
/*======================================
=            Page 404 Error            =
======================================*/
.container-404-page {
  background-color: #ffffff;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px; }

.container-404-page i {
  font-size: 200px;
  color: #fc636b; }

/*=====  End of Page 404 Error  ======*/
/*======================================
=            Bog Page Three            =
======================================*/
.all-posts-blog-page-3 .post {
  background-color: #ffffff;
  margin: 10px;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 10px;
  position: relative; }

.all-posts-blog-page-3 .post-meta div {
  display: inline-block; }

.all-posts-blog-page-3 .post-meta div.image {
  width: 30%;
  height: auto;
  margin-right: 10px;
  margin-bottom: 0; }

.all-posts-blog-page-3 .post-meta .info {
  width: 65%; }
  .all-posts-blog-page-3 .post-meta .info p.post-information {
    color: #777; }

.all-posts-blog-page-3 .post-meta .info h3 {
  margin: 0;
  font-size: 25px;
  margin-bottom: 10px; }

.all-posts-blog-page-3 .post-meta .info p {
  position: absolute;
  bottom: 0; }

/*=====  End of Bog Page Three  ======*/

/*# sourceMappingURL=main.css.map */
