body {
  background-color: #eaeaea;
  font-family: 'Dosis', sans-serif; }

.nopadding {
  padding: 0;
  margin: 0; }

.bold {
  font-weight: bold; }

.align-v {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: #6a67ce; }

#wpadminbar #wp-admin-bar-shop .ab-icon:before {
  content: "\f174";
  color: #ff9200; }

.grid-item {
  width: 45%;
  margin: 5px; }

.parent {
  margin-right: -15px;
  margin-left: -5px;
  margin-top: -5px; }

/*==============================================
=            Section Main Page Shop            =
==============================================*/
.shop-container {
  margin: 10px;
  margin-left: 0;
  margin-top: 10px;
  margin-right: -10px; }
  .shop-container .parent-shop-container {
    overflow: hidden;
    margin-right: 10px;
    margin-left: -10px;
    margin-top: -10px; }
    .shop-container .parent-shop-container > div {
      border: 10px solid transparent; }
    .shop-container .parent-shop-container .item {
      position: relative;
      background-color: #ffffff;
      overflow: hidden;
      margin-bottom: 20px;
      border: 1px solid #DDD; }
    .shop-container .parent-shop-container .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      opacity: .7;
      z-index: 5; }
      .shop-container .parent-shop-container .overlay i {
        position: absolute;
        top: 35%;
        right: 45%;
        font-size: 60px;
        color: #777; }
    .shop-container .parent-shop-container .item img {
      max-width: 100%; }
    .shop-container .parent-shop-container span.sale {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #6a67ce;
      font-size: 50px; }
    .shop-container .parent-shop-container .carousel-caption {
      bottom: 0;
      color: #333;
      position: relative;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      padding: 10px;
      text-align: left;
      z-index: 3;
      background-color: #ffffff; }
      .shop-container .parent-shop-container .carousel-caption .add-to-cart-container-false {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px; }
        .shop-container .parent-shop-container .carousel-caption .add-to-cart-container-false h3 {
          margin: 0 !important; }
          .shop-container .parent-shop-container .carousel-caption .add-to-cart-container-false h3 i {
            color: #777; }
      .shop-container .parent-shop-container .carousel-caption .add-to-follow-container-false,
      .shop-container .parent-shop-container .carousel-caption .add-to-follow-container-true {
        display: inline-block;
        position: absolute;
        right: 35px;
        top: 10px; }
        .shop-container .parent-shop-container .carousel-caption .add-to-follow-container-false h3,
        .shop-container .parent-shop-container .carousel-caption .add-to-follow-container-true h3 {
          margin: 0 !important; }
      .shop-container .parent-shop-container .carousel-caption .add-to-follow-container-false h3 i {
        color: #6a67ce; }
      .shop-container .parent-shop-container .carousel-caption .add-to-follow-container-true h3 i {
        color: #777; }
      .shop-container .parent-shop-container .carousel-caption .like-container {
        display: inline-block;
        position: absolute;
        right: 65px;
        top: 13px; }
        .shop-container .parent-shop-container .carousel-caption .like-container button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: default;
          background-color: #6a67ce; }
        .shop-container .parent-shop-container .carousel-caption .like-container #like {
          font-size: 14px;
          color: #ffffff;
          position: relative;
          top: -1px;
          margin-right: 5px; }
        .shop-container .parent-shop-container .carousel-caption .like-container #unlike {
          font-size: 14px;
          color: #ffffff;
          position: relative;
          top: 1px;
          margin-right: 5px; }
      .shop-container .parent-shop-container .carousel-caption span.discount-number {
        margin: 0;
        position: absolute;
        top: 11px;
        right: 118px; }
        .shop-container .parent-shop-container .carousel-caption span.discount-number .numberCircle {
          font: 12px Arial, sans-serif;
          width: 2em;
          padding: 2px;
          height: 2em;
          background: #6a67ce;
          text-align: center;
          color: #ffffff;
          border-radius: 50%;
          line-height: 2em;
          box-sizing: content-box;
          display: inline-block;
          margin-right: 4px;
          position: relative;
          top: -1px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center; }
      .shop-container .parent-shop-container .carousel-caption .info-for-the-post {
        color: #777;
        margin: 0; }
      .shop-container .parent-shop-container .carousel-caption .decsription {
        border-bottom: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;
        padding: 5px 0; }
    .shop-container .parent-shop-container a.left.carousel-control i {
      position: absolute;
      top: -30px;
      left: 0;
      text-shadow: none; }
    .shop-container .parent-shop-container a.right.carousel-control i {
      position: absolute;
      top: -30px;
      right: 0;
      text-shadow: none; }
    .shop-container .parent-shop-container a.left.carousel-control {
      background-image: none; }
    .shop-container .parent-shop-container a.right.carousel-control {
      background-image: none; }
    .shop-container .parent-shop-container .carousel-inner {
      background-color: #ffffff; }
    .shop-container .parent-shop-container .carousel-inner img {
      width: 100%; }
    .shop-container .parent-shop-container .info-item {
      position: absolute;
      top: 20px;
      left: 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 11px;
      color: #777; }
      .shop-container .parent-shop-container .info-item .likes {
        font-size: 17px;
        font-family: sans-serif;
        text-align: center;
        display: inline-block; }
        .shop-container .parent-shop-container .info-item .likes .numberCircle {
          font: 12px Arial, sans-serif;
          width: 1em;
          padding: 5px;
          height: 1em;
          background: #5e91ff;
          text-align: center;
          color: #ffffff;
          border-radius: 50%;
          line-height: 1em;
          box-sizing: content-box;
          display: inline-block;
          margin-right: 4px; }
        .shop-container .parent-shop-container .info-item .likes i {
          padding-left: 5px;
          position: relative;
          left: -4px; }
      .shop-container .parent-shop-container .info-item .price {
        font-size: 15px; }
        .shop-container .parent-shop-container .info-item .price .numberCircle {
          font: 12px Arial, sans-serif;
          width: 1em;
          padding: 5px;
          height: 1em;
          background: #6a67ce;
          text-align: center;
          color: #ffffff;
          border-radius: 50%;
          line-height: 1em;
          box-sizing: content-box;
          display: inline-block;
          margin-right: 4px;
          position: relative;
          top: -4px; }
        .shop-container .parent-shop-container .info-item .price .main-price {
          background-color: rgba(255, 255, 255, 0.56);
          color: #333;
          padding: 5px 10px;
          font-size: 22px; }
        .shop-container .parent-shop-container .info-item .price .price-without-disc {
          text-decoration: line-through;
          color: #333;
          text-align: center;
          padding: 2px 5px;
          font-size: 15px;
          background-color: rgba(255, 255, 255, 0.56);
          text-decoration-color: rgba(146, 146, 146, 0.58);
          width: auto;
          max-width: 70px;
          opacity: 0.7; }
        .shop-container .parent-shop-container .info-item .price .discount-number {
          color: #eaeaea;
          margin-top: 10px; }
    .shop-container .parent-shop-container .carousel-caption h5 {
      font-size: 18px; }

.shop-pagination {
  margin-bottom: 20px; }

/*=====  End of Section Main Page Shop  ======*/
/*=============================================
=            Top Liked Item Widget            =
=============================================*/
/*==========================================
=            Widget Latest Item            =
==========================================*/
.top-items-shop-widget {
  margin-top: 20px; }
  .top-items-shop-widget .item {
    background-color: #ffffff;
    overflow: hidden; }
  .top-items-shop-widget .item img {
    max-width: 100%; }
  .top-items-shop-widget span.sale {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #6a67ce;
    font-size: 50px; }
  .top-items-shop-widget .carousel-caption {
    bottom: 0;
    color: #333;
    position: static;
    padding: 10px;
    text-align: left; }
    .top-items-shop-widget .carousel-caption span.discount-number {
      margin: 0; }
      .top-items-shop-widget .carousel-caption span.discount-number .numberCircle {
        font: 12px Arial, sans-serif;
        width: 2em;
        padding: 5px;
        height: 2em;
        background: #6a67ce;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        line-height: 2em;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 4px;
        position: relative;
        top: -4px; }
    .top-items-shop-widget .carousel-caption .info-for-the-post {
      color: #777;
      margin: 0; }
    .top-items-shop-widget .carousel-caption .decsription {
      color: #000;
      padding: 5px 0; }
  .top-items-shop-widget a.left.carousel-control i {
    position: absolute;
    top: -28px;
    right: 35px;
    text-shadow: none;
    border: 1px solid #333;
    padding-right: 1px;
    color: #333;
    border-radius: 2px; }
  .top-items-shop-widget a.right.carousel-control i {
    position: absolute;
    top: -28px;
    right: 11px;
    text-shadow: none;
    border: 1px solid #333;
    padding-left: 1px;
    color: #333;
    border-radius: 2px; }
  .top-items-shop-widget a.left.carousel-control {
    background-image: none;
    font-size: 15px;
    position: static; }
  .top-items-shop-widget a.right.carousel-control {
    background-image: none;
    font-size: 15px; }
  .top-items-shop-widget .carousel-inner {
    background-color: #ffffff; }
  .top-items-shop-widget .carousel-inner img {
    width: 100%; }
  .top-items-shop-widget .info-item {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 11px;
    color: #777; }
    .top-items-shop-widget .info-item .likes {
      font-size: 17px;
      font-family: sans-serif;
      text-align: center;
      display: inline-block; }
      .top-items-shop-widget .info-item .likes .numberCircle {
        font: 12px Arial, sans-serif;
        width: 1em;
        padding: 5px;
        height: 1em;
        background: #5e91ff;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        line-height: 1em;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 4px; }
      .top-items-shop-widget .info-item .likes i {
        padding-left: 5px;
        position: relative;
        left: -4px; }
    .top-items-shop-widget .info-item .price {
      font-size: 15px; }
      .top-items-shop-widget .info-item .price .numberCircle {
        font: 12px Arial, sans-serif;
        width: 1em;
        padding: 5px;
        height: 1em;
        background: #6a67ce;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        line-height: 1em;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 4px;
        position: relative;
        top: -4px; }
      .top-items-shop-widget .info-item .price .main-price {
        background-color: rgba(255, 255, 255, 0.56);
        color: #333;
        padding: 5px 10px;
        font-size: 22px; }
      .top-items-shop-widget .info-item .price .price-without-disc {
        text-decoration: line-through;
        color: #777;
        text-align: center;
        padding: 2px 5px;
        font-size: 15px;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.56);
        text-decoration-color: rgba(146, 146, 146, 0.58);
        margin-top: 10px;
        width: auto;
        max-width: 70px;
        opacity: 0.7; }
      .top-items-shop-widget .info-item .price .discount-number {
        color: #eaeaea;
        margin-top: 10px; }
  .top-items-shop-widget .carousel-caption h5 {
    font-size: 18px; }

/*=====  End of Widget Latest Item  ======*/
/*=========================================
=            Go To Shop Widget            =
=========================================*/
.go-to-blog-widget div {
  background-color: #fc636b;
  color: #eaeaea;
  padding: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-weight: bold;
  margin: 10px 0 20px; }

.go-to-blog-widget div p {
  font-size: 16px;
  margin-top: 20px; }

/*=====  End of Go To Shop Widget  ======*/
/*=====  End of Top Liked Item Widget  ======*/
/*=============================================
=            Section Upper Bar Woo            =
=============================================*/
.upper-bar-woo-shop {
  overflow: hidden;
  margin: 10px;
  margin-left: 0;
  margin-right: 0; }
  .upper-bar-woo-shop p.woocommerce-result-count {
    margin: 0;
    margin-bottom: 0px !important;
    padding: 10px;
    background-color: #ffffff;
    color: #777;
    width: 100%;
    margin-left: -10px; }
  .upper-bar-woo-shop p.path-shop {
    margin: 0;
    margin-bottom: 0px !important;
    padding: 10px;
    background-color: #ffffff;
    color: #777;
    width: 100%; }
    .upper-bar-woo-shop p.path-shop i {
      color: #ffb900; }
  .upper-bar-woo-shop a:link, .upper-bar-woo-shop a:hover, .upper-bar-woo-shop a:visited {
    text-decoration: none;
    color: #333; }
  .upper-bar-woo-shop form.woocommerce-ordering {
    width: calc(100% - 10px);
    margin-bottom: 0 !important;
    float: left !important; }
  .upper-bar-woo-shop form.woocommerce-ordering select {
    width: 100%;
    padding: 10px;
    margin-left: 10px; }

/*=====  End of Section Upper Bar Woo  ======*/
/*===============================================
=            Section Filter Products            =
===============================================*/
.container-filter {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .container-filter input {
    border: 1px solid #DDD;
    padding: 5px;
    margin: 5px;
    width: 130px; }
  .container-filter select.select-option {
    padding: 5px;
    margin: 5px;
    width: 120px; }

/*=====  End of Section Filter Products  ======*/
/*==================================================
=            Shop Filter Content Result            =
==================================================*/
.result_search_shop {
  margin-top: -10px;
  margin-left: -10px; }
  .result_search_shop > div {
    border: 10px solid transparent; }
  .result_search_shop .item {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #DDD; }
  .result_search_shop .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 5; }
    .result_search_shop .overlay i {
      position: absolute;
      top: 35%;
      right: 45%;
      font-size: 60px;
      color: #777; }
  .result_search_shop .item img {
    max-width: 100%; }
  .result_search_shop span.sale {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #6a67ce;
    font-size: 50px; }
  .result_search_shop .carousel-caption {
    bottom: 0;
    color: #333;
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 10px;
    text-align: left;
    z-index: 3;
    background-color: #ffffff; }
    .result_search_shop .carousel-caption .add-to-cart-container-false {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 10px; }
      .result_search_shop .carousel-caption .add-to-cart-container-false h3 {
        margin: 0 !important; }
        .result_search_shop .carousel-caption .add-to-cart-container-false h3 i {
          color: #777; }
    .result_search_shop .carousel-caption .add-to-follow-container-false,
    .result_search_shop .carousel-caption .add-to-follow-container-true {
      display: inline-block;
      position: absolute;
      right: 35px;
      top: 10px; }
      .result_search_shop .carousel-caption .add-to-follow-container-false h3,
      .result_search_shop .carousel-caption .add-to-follow-container-true h3 {
        margin: 0 !important; }
    .result_search_shop .carousel-caption .add-to-follow-container-false h3 i {
      color: #6a67ce; }
    .result_search_shop .carousel-caption .add-to-follow-container-true h3 i {
      color: #777; }
    .result_search_shop .carousel-caption .like-container {
      display: inline-block;
      position: absolute;
      right: 65px;
      top: 13px; }
      .result_search_shop .carousel-caption .like-container button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: default;
        background-color: #6a67ce; }
      .result_search_shop .carousel-caption .like-container #like {
        font-size: 14px;
        color: #ffffff;
        position: relative;
        top: -1px;
        margin-right: 5px; }
      .result_search_shop .carousel-caption .like-container #unlike {
        font-size: 14px;
        color: #ffffff;
        position: relative;
        top: 1px;
        margin-right: 5px; }
    .result_search_shop .carousel-caption span.discount-number {
      margin: 0;
      position: absolute;
      top: 11px;
      right: 10px; }
      .result_search_shop .carousel-caption span.discount-number .numberCircle {
        font: 12px Arial, sans-serif;
        width: 2em;
        padding: 2px;
        height: 2em;
        background: #6a67ce;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        line-height: 2em;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 4px;
        position: relative;
        top: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
    .result_search_shop .carousel-caption .info-for-the-post {
      color: #777;
      margin: 0; }
    .result_search_shop .carousel-caption .decsription {
      border-bottom: 1px solid #eaeaea;
      border-top: 1px solid #eaeaea;
      padding: 5px 0; }
  .result_search_shop a.left.carousel-control i {
    position: absolute;
    top: -30px;
    left: 0;
    text-shadow: none; }
  .result_search_shop a.right.carousel-control i {
    position: absolute;
    top: -30px;
    right: 0;
    text-shadow: none; }
  .result_search_shop a.left.carousel-control {
    background-image: none; }
  .result_search_shop a.right.carousel-control {
    background-image: none; }
  .result_search_shop .carousel-inner {
    background-color: #ffffff; }
  .result_search_shop .carousel-inner img {
    width: 100%; }
  .result_search_shop .info-item {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 11px;
    color: #777; }
    .result_search_shop .info-item .likes {
      font-size: 17px;
      font-family: sans-serif;
      text-align: center;
      display: inline-block; }
      .result_search_shop .info-item .likes .numberCircle {
        font: 12px Arial, sans-serif;
        width: 1em;
        padding: 5px;
        height: 1em;
        background: #5e91ff;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        line-height: 1em;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 4px; }
      .result_search_shop .info-item .likes i {
        padding-left: 5px;
        position: relative;
        left: -4px; }
    .result_search_shop .info-item .price {
      font-size: 15px; }
      .result_search_shop .info-item .price .numberCircle {
        font: 12px Arial, sans-serif;
        width: 1em;
        padding: 5px;
        height: 1em;
        background: #6a67ce;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        line-height: 1em;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 4px;
        position: relative;
        top: -4px; }
      .result_search_shop .info-item .price .main-price {
        background-color: rgba(255, 255, 255, 0.56);
        color: #333;
        padding: 5px 10px;
        font-size: 22px; }
      .result_search_shop .info-item .price .price-without-disc {
        text-decoration: line-through;
        color: #333;
        text-align: center;
        padding: 2px 5px;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.56);
        text-decoration-color: rgba(146, 146, 146, 0.58);
        width: auto;
        max-width: 70px;
        opacity: 0.7; }
      .result_search_shop .info-item .price .discount-number {
        color: #eaeaea;
        margin-top: 10px; }
  .result_search_shop .carousel-caption h5 {
    font-size: 18px; }

/*=====  End of Shop Filter Content Result  ======*/
/*==================================================
=            Section Singel Product Woo            =
==================================================*/
section.related.products {
  display: none; }

.container_singel_product {
  margin: 10px;
  margin-left: 0; }
  .container_singel_product .meta_product {
    margin: 10px;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    margin-right: 0;
    position: relative; }
    .container_singel_product .meta_product p.reviews_count {
      position: relative;
      top: 2px; }
    .container_singel_product .meta_product p.price {
      padding: 5px 0; }
    .container_singel_product .meta_product p.price_regular {
      font-size: 18px;
      margin-top: -10px;
      text-decoration: line-through;
      text-decoration-color: rgba(68, 66, 66, 0.58); }
    .container_singel_product .meta_product .add-to-cart-container-false {
      position: absolute;
      top: 10px;
      right: 25px; }
      .container_singel_product .meta_product .add-to-cart-container-false i {
        font-size: 45px;
        color: #777; }
      .container_singel_product .meta_product .add-to-cart-container-false a:link, .container_singel_product .meta_product .add-to-cart-container-false a:hover, .container_singel_product .meta_product .add-to-cart-container-false a:visited {
        text-decoration: none;
        color: #1aafd0; }
    .container_singel_product .meta_product .add-to-cart-container-true {
      position: absolute;
      top: 10px;
      right: 25px; }
      .container_singel_product .meta_product .add-to-cart-container-true i {
        font-size: 45px;
        color: #6a67ce; }
      .container_singel_product .meta_product .add-to-cart-container-true a:link, .container_singel_product .meta_product .add-to-cart-container-true a:hover, .container_singel_product .meta_product .add-to-cart-container-true a:visited {
        text-decoration: none;
        color: #1aafd0; }
    .container_singel_product .meta_product .add-to-follow-container-true {
      position: absolute;
      top: 10px;
      right: 85px; }
      .container_singel_product .meta_product .add-to-follow-container-true i {
        font-size: 45px;
        color: #777; }
      .container_singel_product .meta_product .add-to-follow-container-true a:link, .container_singel_product .meta_product .add-to-follow-container-true a:hover, .container_singel_product .meta_product .add-to-follow-container-true a:visited {
        text-decoration: none;
        color: #1aafd0; }
    .container_singel_product .meta_product .add-to-follow-container-false {
      position: absolute;
      top: 10px;
      right: 85px; }
      .container_singel_product .meta_product .add-to-follow-container-false i {
        font-size: 45px;
        color: #6a67ce; }
      .container_singel_product .meta_product .add-to-follow-container-false a:link, .container_singel_product .meta_product .add-to-follow-container-false a:hover, .container_singel_product .meta_product .add-to-follow-container-false a:visited {
        text-decoration: none;
        color: #1aafd0; }
    .container_singel_product .meta_product .like-container {
      display: inline-block;
      position: absolute;
      right: 150px;
      top: 37px; }
      .container_singel_product .meta_product .like-container button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: default;
        background-color: #6a67ce;
        padding-bottom: 2px; }
      .container_singel_product .meta_product .like-container #like {
        font-size: 20px;
        color: #ffffff;
        margin-right: 5px;
        position: relative;
        top: -2px; }
      .container_singel_product .meta_product .like-container #unlike {
        font-size: 20px;
        color: #ffffff;
        margin-right: 5px;
        position: relative;
        top: -2px; }
    .container_singel_product .meta_product .count_of_views {
      position: absolute;
      top: 26px;
      right: 246px; }
      .container_singel_product .meta_product .count_of_views .number {
        font-size: 17px; }
      .container_singel_product .meta_product .count_of_views i {
        font-size: 45px;
        color: #3be8b0; }
    .container_singel_product .meta_product span.tagged_as a {
      padding: 3px;
      background-color: #ffb900;
      color: #ffffff;
      margin: 2px; }
  @media (max-width: 767px) {
    .container_singel_product .meta_product {
      margin-left: 0; } }
  .container_singel_product p.path-shop {
    margin: 0;
    margin-bottom: 0px !important;
    padding: 10px;
    background-color: #ffffff;
    color: #777;
    width: 100%; }
    .container_singel_product p.path-shop a:link,
    .container_singel_product p.path-shop a:hover,
    .container_singel_product p.path-shop a:visited {
      text-decoration: none;
      color: #777; }
    .container_singel_product p.path-shop i {
      color: #ffb900; }
  .container_singel_product .main_image_product {
    margin: 10px;
    margin-top: 20px;
    margin-left: 0;
    max-width: 100%; }
  @media (max-width: 767px) {
    .container_singel_product .main_image_product {
      margin-right: 0; } }
  .container_singel_product .images_gallery {
    background-color: #ffffff;
    margin: 10px;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px; }
    .container_singel_product .images_gallery .img_gallary_box {
      width: 90px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      overflow: hidden; }
  @media (max-width: 767px) {
    .container_singel_product .images_gallery {
      margin-left: 0;
      margin-top: 20px; } }
  .container_singel_product .woocommerce-Reviews {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    margin-right: 0;
    margin-left: 0; }
    .container_singel_product .woocommerce-Reviews h2.woocommerce-Reviews-title {
      font-size: 20px; }
  .container_singel_product .comment.byuser {
    background-color: #ffffff;
    list-style: none;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    position: relative; }
    .container_singel_product .comment.byuser .comment_container .comment-text .star-rating {
      position: absolute !important;
      top: 10px;
      right: 10px; }
    .container_singel_product .comment.byuser .comment_container .comment-text p.meta {
      margin-top: 10px;
      color: #777; }
  .container_singel_product h3.r_products {
    background-color: #ffffff;
    padding: 10px;
    font-size: 19px; }

@media (max-width: 767px) {
  .container_singel_product {
    margin-right: 0; } }
/*================================================
=            Section Related Products            =
================================================*/
.container-reilated-products {
  margin-left: -10px;
  overflow: hidden;
  margin-top: 10px;
  margin-right: -10px;
  margin-bottom: 10px; }
  .container-reilated-products > div {
    border: 10px solid transparent; }
  .container-reilated-products .item {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #DDD; }
  .container-reilated-products .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 5; }
    .container-reilated-products .overlay i {
      position: absolute;
      top: 35%;
      right: 45%;
      font-size: 60px;
      color: #777; }
  .container-reilated-products .item img {
    max-width: 100%; }
  .container-reilated-products span.sale {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #6a67ce;
    font-size: 50px; }
  .container-reilated-products .carousel-caption {
    bottom: 0;
    color: #333;
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 10px;
    text-align: left;
    z-index: 3;
    background-color: #ffffff; }
    .container-reilated-products .carousel-caption .add-to-cart-container-false {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 10px; }
      .container-reilated-products .carousel-caption .add-to-cart-container-false h3 {
        margin: 0 !important; }
        .container-reilated-products .carousel-caption .add-to-cart-container-false h3 i {
          color: #777; }
    .container-reilated-products .carousel-caption .add-to-follow-container-false,
    .container-reilated-products .carousel-caption .add-to-follow-container-true {
      display: inline-block;
      position: absolute;
      right: 35px;
      top: 10px; }
      .container-reilated-products .carousel-caption .add-to-follow-container-false h3,
      .container-reilated-products .carousel-caption .add-to-follow-container-true h3 {
        margin: 0 !important; }
    .container-reilated-products .carousel-caption .add-to-follow-container-false h3 i {
      color: #6a67ce; }
    .container-reilated-products .carousel-caption .add-to-follow-container-true h3 i {
      color: #777; }
    .container-reilated-products .carousel-caption .like-container {
      display: inline-block;
      position: absolute;
      right: 65px;
      top: 13px; }
      .container-reilated-products .carousel-caption .like-container button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: default;
        background-color: #6a67ce; }
      .container-reilated-products .carousel-caption .like-container #like {
        font-size: 14px;
        color: #ffffff;
        position: relative;
        top: -1px;
        margin-right: 5px; }
      .container-reilated-products .carousel-caption .like-container #unlike {
        font-size: 14px;
        color: #ffffff;
        position: relative;
        top: 1px;
        margin-right: 5px; }
    .container-reilated-products .carousel-caption span.discount-number {
      margin: 0;
      position: absolute;
      top: 11px;
      right: 114px; }
      .container-reilated-products .carousel-caption span.discount-number .numberCircle {
        font: 12px Arial, sans-serif;
        width: 2em;
        padding: 2px;
        height: 2em;
        background: #6a67ce;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        line-height: 2em;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 4px;
        position: relative;
        top: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
    .container-reilated-products .carousel-caption .info-for-the-post {
      color: #777;
      margin: 0; }
    .container-reilated-products .carousel-caption .decsription {
      border-bottom: 1px solid #eaeaea;
      border-top: 1px solid #eaeaea;
      padding: 5px 0; }
  .container-reilated-products a.left.carousel-control i {
    position: absolute;
    top: -30px;
    left: 0;
    text-shadow: none; }
  .container-reilated-products a.right.carousel-control i {
    position: absolute;
    top: -30px;
    right: 0;
    text-shadow: none; }
  .container-reilated-products a.left.carousel-control {
    background-image: none; }
  .container-reilated-products a.right.carousel-control {
    background-image: none; }
  .container-reilated-products .carousel-inner {
    background-color: #ffffff; }
  .container-reilated-products .carousel-inner img {
    width: 100%; }
  .container-reilated-products .info-item {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 11px;
    color: #777; }
    .container-reilated-products .info-item .likes {
      font-size: 17px;
      font-family: sans-serif;
      text-align: center;
      display: inline-block; }
      .container-reilated-products .info-item .likes .numberCircle {
        font: 12px Arial, sans-serif;
        width: 1em;
        padding: 5px;
        height: 1em;
        background: #5e91ff;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        line-height: 1em;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 4px; }
      .container-reilated-products .info-item .likes i {
        padding-left: 5px;
        position: relative;
        left: -4px; }
    .container-reilated-products .info-item .price {
      font-size: 15px; }
      .container-reilated-products .info-item .price .numberCircle {
        font: 12px Arial, sans-serif;
        width: 1em;
        padding: 5px;
        height: 1em;
        background: #6a67ce;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        line-height: 1em;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 4px;
        position: relative;
        top: -4px; }
      .container-reilated-products .info-item .price .main-price {
        background-color: rgba(255, 255, 255, 0.56);
        color: #333;
        padding: 5px 10px;
        font-size: 22px; }
      .container-reilated-products .info-item .price .price-without-disc {
        text-decoration: line-through;
        color: #333;
        text-align: center;
        padding: 2px 5px;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.56);
        text-decoration-color: rgba(146, 146, 146, 0.58);
        width: auto;
        max-width: 70px;
        opacity: 0.7; }
      .container-reilated-products .info-item .price .discount-number {
        color: #eaeaea;
        margin-top: 10px; }
  .container-reilated-products .carousel-caption h5 {
    font-size: 18px; }

/*=====  End of Section Related Products  ======*/
/*=====  End of Section Singel Product Woo  ======*/
/*====================================================
=            Section Cart Page Woocommrce            =
====================================================*/
.parent-cart-page {
  background-color: #fff;
  margin: 10px 0; }
  .parent-cart-page form.woocommerce-cart-form {
    padding: 20px; }
    .parent-cart-page form.woocommerce-cart-form table {
      padding: 10px;
      width: 100%; }
      .parent-cart-page form.woocommerce-cart-form table thead {
        padding: 10px; }
        .parent-cart-page form.woocommerce-cart-form table thead tr th {
          background-color: #fc636b;
          padding: 5px;
          color: #ffffff; }
      .parent-cart-page form.woocommerce-cart-form table tbody {
        padding: 10px; }
        .parent-cart-page form.woocommerce-cart-form table tbody tr td {
          background-color: #eaeaea;
          border: 1px solid #dadada;
          padding: 5px; }
          .parent-cart-page form.woocommerce-cart-form table tbody tr td div.quantity {
            text-align: center; }
            .parent-cart-page form.woocommerce-cart-form table tbody tr td div.quantity input {
              padding: 5px; }
          .parent-cart-page form.woocommerce-cart-form table tbody tr td div.coupon {
            padding: 5px; }
            .parent-cart-page form.woocommerce-cart-form table tbody tr td div.coupon input#coupon_code {
              padding: 5px;
              width: 50%; }
            .parent-cart-page form.woocommerce-cart-form table tbody tr td div.coupon input[name="apply_coupon"] {
              padding: 5px;
              width: 45%; }
          .parent-cart-page form.woocommerce-cart-form table tbody tr td input[name="update_cart"] {
            padding: 10px;
            width: 15%; }
        .parent-cart-page form.woocommerce-cart-form table tbody tr td.product-thumbnail {
          text-align: center; }
        .parent-cart-page form.woocommerce-cart-form table tbody tr td.product-remove {
          text-align: center; }

.cart-collaterals {
  margin: 10px 0;
  margin-top: 20px;
  background-color: #ffffff; }
  .cart-collaterals .cart_totals {
    padding: 10px; }

/*=====  End of Section Cart Page Woocommrce  ======*/
/*==================================================
=            Section Checkout Page Woo             =
==================================================*/
.checkout-container {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff; }
  .checkout-container input {
    padding: 10px;
    border: 1px solid #c7c7c7; }

/*=====  End of Section Checkout Page Woo   ======*/
/*=================================================
=            Section Profile Page Woo             =
=================================================*/
.profile-container {
  background-color: #fff;
  margin: 10px 0; }
  .profile-container .woocommerce nav.woocommerce-MyAccount-navigation ul {
    list-style: none;
    margin: 0px;
    padding: 15px; }
    .profile-container .woocommerce nav.woocommerce-MyAccount-navigation ul li {
      background-color: #eaeaea;
      margin: 5px;
      padding: 5px; }
  .profile-container form.woocomerce-form.woocommerce-form-login.login {
    border: none;
    border-radius: 0;
    width: 500px;
    margin: auto;
    text-align: center; }
    .profile-container form.woocomerce-form.woocommerce-form-login.login input {
      padding: 5px;
      border: 1px solid #DDD; }
  .profile-container .woocommerce-MyAccount-content {
    padding: 10px 15px;
    margin: 10px; }
  .profile-container .woocommerce-MyAccount-content input {
    padding: 5px;
    border: 1px solid #d2d2d2; }

/*=====  End of Section Profile Page Woo   ======*/

/*# sourceMappingURL=shop.css.map */
