/*==========================================
=            How Are We Section            =
==========================================*/

.page-about-us-container {
    background-color: #FFF;
    margin: 10px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-about-us-container > div {
    height: 100%;
}

.image-about-us img {
    max-width: 100%;
}

.text-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
}

/*=====  End of How Are We Section  ======*/

/*========================================
=            Out Team Esction            =
========================================*/

.team-box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
}

.person {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-top-left-radius: 0;
    border: 10px solid rgba(0, 0, 0, 0.08);
}

.person img {
    height: 120%;
    width: 120%;
}

.info-member {
    opacity: 0;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 200px;
}

.person:hover .info-member {
    opacity: 1;
}

.person h4 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.92);
    color: #333;
    padding: 5px 10px;
}

span.social-media-team a {
    color: #fff;
}

span.social-media-team {
    position: absolute;
    top: 65px;
    left: 0;
    padding: 0px 10px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.92);
    font-size: 23px;
}

.person .jop {
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 2px 10px;
    background-color: rgba(255, 255, 255, 0.92);
    color: #333;
    font-size: 13px;
}

.person .overlay {
    background-color: rgba(0, 0, 0, 0.67);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    opacity: 0;
    transition: all .5s ease;
}

.person:hover .overlay {
    opacity: 1;
}

.our-team-container {
    background-color: #FFF;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.our-team-container h3 {
    margin-top: 0;
    padding: 20px
}

.our-experiance-container {
    background-color: #FFF;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.our-experiance-container p {
    width: 75%;
}

/*=====  End of Out Team Esction  ======*/
