.parent-cart-page {
	background-color: #fff;
    margin: 10px 0;
    form.woocommerce-cart-form {
    	padding: 20px;
    	table {
    		padding: 10px;
    		width: 100%;
    		thead {
    			padding: 10px;
    			tr {

    				th {
					    background-color: $color7;
					    padding: $main-padding / 2;
					    color: $color2;
    				}
    			}
    		}
    		tbody {
    			padding: 10px;
    			tr {

    				td {
					    background-color: #eaeaea;
					    border: 1px solid #dadada;
					    padding: 5px;
					    div.quantity {
					    	text-align: center;
					    	input {
					    	padding: 5px;
						    }
					    }
					    div.coupon {
					    	padding: 5px;
							input#coupon_code {
							    padding: 5px;
							    width: 50%;
							}
							input[name="apply_coupon"] {
							    padding: 5px;
							    width: 45%;
							}
					    }
						input[name="update_cart"] {
						    padding: 10px;
						    width: 15%;
						}
    				}
					td.product-thumbnail {
					    text-align: center;
					}
					td.product-remove {
					    text-align: center;
					}
    			}
    		}
    	}
    }
}

.cart-collaterals {
    margin: 10px 0;
    margin-top: 20px;
    background-color: $color2;
	.cart_totals {
		padding: 10px;
	}
}