/*=============================================
=            List Comments Section            =
=============================================*/

h2.comments-title {
    font-size: 17px;
    font-weight: bold;
    background-color: $color2;
    margin: $main-margin*2 0;
    margin-right: $main-margin;
    padding: $main-padding;
}

@media (max-width: 767px){
    h2.comments-title {
        margin-right: 0;
    }
}

ol.comment-list {
    background-color: $color2;
    padding: $main-padding;
    margin: $main-margin;
    margin-left: 0;
    position: relative;
    list-style: none;
}

@media (max-width: 767px){
    ol.comment-list {
        margin-right: 0;
    }
}

ol.children {
    list-style: none;
    background-color: $color1;
}

@media (max-width: 767px){
    ol.children {
        padding-left: 5px;
    }
}

.comment-body {
    position: relative;
    padding-top: $main-padding;
}

.comment-author.vcard img {
    border-radius: 50%;
    border: 2px solid #EEE;
}

span.says, .fn {
    font-weight: bold;
    font-style: initial;
}

.comment-meta.commentmetadata {
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 10px;
}

ol.comment-list p {
    padding: $main-padding;
    margin-bottom: 0;
    font-style: italic;
}

ol.comment-list .reply {
    margin-bottom: $main-margin + 5;
}

h3.comment-reply-title {
    margin: $main-margin*2 0;
    margin-right: $main-margin;
    padding: $main-padding;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    background-color: $color2;
}

@media (max-width: 767px){
    h3.comment-reply-title {
        margin-right: 0;
    }
}

/*=====  End of List Comments Section  ======*/

/*===========================================
=            Coment Form Section            =
===========================================*/

.comment-form {
    margin: $main-margin;
    overflow: hidden;
    padding: $main-padding;
    margin-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color2;
}

@media (max-width: 767px){
   .comment-form {
    margin-right: 0;
   } 
}

.comment-form textarea {
    width: 35%;
    padding: $main-padding;
    margin: $main-margin;
    border: 1px solid #DDD;
}

@media (max-width: 767px){
    .comment-form textarea {
        width: 95%
    }
}

p.logged-in-as {
    background-color: $color2;
    padding: 5px;
    margin: $main-margin;
    margin-left: 0;
    display:none;
}

.comment-form input {
    width: 35%;
    padding: 7px;
    margin: $main-margin;
    border: 1px solid #DDD;
}

@media (max-width: 767px){
    .comment-form input {
        width: 95%
    }
}

p.form-submit {
    width: 100%;
}

/*=====  End of Coment Form Section  ======*/
