.parent-dashboard-page {
    overflow: hidden;
    background-color: #fff;
    margin: 10px 0;

    .boxes {

    	h4 {
    		margin-left: 10px;
    	}

		div.parent-box:nth-of-type(1) .box1 {
		    background-color: $color6;
		    border: 10px solid $color2;
		    color: $color2;
		    .head {
				background-color: #333;
			    padding: 10px;
		    }
		    .body {
		    	
		    	.item {
		    		position: relative;
		    		padding: 10px;
		    		h5 {
		    			font-size: 30px;
		    		}
		    	}
				.item:nth-child(even) {
				    background-color: rgba(255, 255, 255, 0.1);
				}
		    }
		}

		div.parent-box:nth-of-type(1) .box2 {
		    background-color: $color5;
		    border: 10px solid $color2;
		    color: $color2;
		    .head {
				background-color: #333;
			    padding: 10px;
		    }
		    .body {
		    	
		    	.item {
		    		position: relative;
		    		padding: 10px;
		    		h5 {
		    			font-size: 30px;
		    		}
		    	}
				.item:nth-child(even) {
				    background-color: rgba(255, 255, 255, 0.1);
				}
		    }
		}

		div.parent-box:nth-of-type(2) .box1 {
		    background-color: $color7;
		    border: 10px solid $color2;
		    color: $color2;
		    .head {
				background-color: #333;
			    padding: 10px;
		    }
		    .body {
		    	
		    	.item {
		    		position: relative;
		    		padding: 10px;
		    		h5 {
		    			font-size: 30px;
		    		}
		    	}
				.item:nth-child(even) {
				    background-color: rgba(255, 255, 255, 0.1);
				}
		    }
		}

		div.parent-box:nth-of-type(2) .box2 {
		    background-color: $color4;
		    border: 10px solid $color2;
		    color: $color2;
		    .head {
				background-color: #333;
			    padding: 10px;
		    }
		    .body {
		    	
		    	.item {
		    		position: relative;
		    		padding: 10px;
		    		h5 {
		    			font-size: 30px;
		    		}
		    	}
				.item:nth-child(even) {
				    background-color: rgba(255, 255, 255, 0.1);
				}
		    }
		}
	}

	.you-orders {
	    padding: 10px;
	}
}