.site-header {
    width: 100%;
    height: 515px;
    background-color: $color2;
    margin: 0 0 $main-margin 0;
    overflow: hidden;
}

header.site-header img {
    width: 100%;
    position: relative;
    top: -140px;
}

/*==========================================
=            Brand Name Section            =
==========================================*/

.brand-name {
    padding: 10px;
    margin-left: 0;
    padding-left: 0;
    font-weight: bold;
    font-size: 28px;
}

@media (max-width: 767px){
    .brand-name {
        text-align: center;
        margin-bottom: $main-margin * 2;
    }
}


/*=====  End of Brand Name Section  ======*/

/*=============================================
=            Icon Like,Cart,Follow            =
=============================================*/

.icon-header1 {
    margin: $main-margin;
    font-size: 25px;
    padding: 2px;
    position: relative;
    top: 12px;
    text-align: right;
}

@media (max-width: 767px){
    .icon-header1 {
        text-align: center;
        margin-bottom: $main-margin * 2;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .icon-header1 {
        text-align: right;
    }
}

.icon-header1 i {
    padding: $main-padding + 1;
    cursor: pointer;
    position: relative;
}

.icon-header1 i span {
    position: absolute;
    font-size: 11px;
    color: $color2;
    width: 22px;
    text-align: center;
    border-radius: 8px;
    height: 16px;
    line-height: 18px;
    top: -12px;
    left: 11px;
    font-family: arial;
}

.icon-header1 i:nth-of-type(1) span {
    background-color: $color5 !important;
}

.icon-header1 i:nth-of-type(2) span {
    background-color: $color6;
}

.icon-header1 i:nth-of-type(3) span {
    background-color: $color7;
}

.icon-header1 i:nth-of-type(1) span:before {
    content: '';
    border-top: 7px solid $color5;
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-left: 7px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -12px;
    left: 4px;
}

.icon-header1 i:nth-of-type(2) span:before {
    content: '';
    border-top: 7px solid $color6;
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-left: 7px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -12px;
    left: 4px;
}

.icon-header1 i:nth-of-type(3) span:before {
    content: '';
    border-top: 7px solid $color7;
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-left: 7px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -12px;
    left: 4px;
}

nav.primary-menu ul li:nth-of-type(4) i {
    position: relative;
    top: 2px;
}

.icon-header1 i:nth-of-type(1) {
    color: $color6 !important
}

.icon-header1 i:nth-of-type(2) {
    color: $color6;
}

.icon-header1 i:nth-of-type(3) {
    color: $color7;
}

/*=====  End of Icon Like,Cart,Follow  ======*/

/*===========================================
=            Search Form Section            =
===========================================*/

.form-search {
    margin: $main-margin;
    background-color: $color2;
    padding: $main-padding;
    margin-right: 0;
    margin-left: $main-margin;
}

@media (min-width: 768px) and (max-width: 991px){
    .form-search {
        margin-left: 0px;
    }
}

@media (max-width: 767px){
    .form-search {
        margin-left: 0px;
        margin-top: $main-margin * 2;
        margin-bottom: $main-margin * 2;
    }
}

/*=====  End of Search Form Section  ======*/

/*===========================================
=            Login And Add Item             =
===========================================*/

.add-register-login {
    padding: $main-padding;
    margin: $main-margin;
    background-color: $color2;
    margin-right: $main-margin;
}

@media (min-width: 768px) and (max-width: 991px){
    .add-register-login{
        margin: $main-margin 0;
    }
}

@media (max-width: 767px){
    .add-register-login {
        margin: $main-margin 0px;
    }
}

/*=====  End of Login And Add Item   ======*/

/*===========================================
=            Header Nenu Section            =
===========================================*/

nav.header-menu {
    padding: $main-padding;
    margin: $main-margin $main-margin $main-margin 0px;
    background-color: $color2;
    border-left: 5px solid $color4;
}

@media (min-width: 768px) and (max-width: 991px){
    nav.header-menu {
        margin-right: 0;
    }
}

nav.header-menu .menu-headermenu-container > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-headermenu-container ul > li {
    font-size: 19px;
}

ul.dropdown-menu li {
    font-size: 15px;
}

ul.dropdown-menu li a {
    color: $color2;
}

.open > .dropdown-menu {
    display: block;
    border: 0;
    position: absolute;
    background-color: $color6;
    color: $color2;
    box-shadow: none;
    top: 43px;
    width: 220px;
    border-radius: 4px;
}

.dropdown-menu:before {
    content: '';
    border-top: 8px solid rgba(252, 99, 107, 0);
    border-bottom: 8px solid rgb(255, 185, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid rgba(0, 0, 0, 0);
    position: absolute;
    left: 10px;
    top: -16px;
}

.portfolio-container .dropdown-menu:after {
    content: "\e9e5";
    font-family: 'icomoon', arial;
    position: absolute;
    top: -16%;
    left: 59%;
    font-size: 78px;
    color: rgba(255, 255, 255, 0.24);
}

.contact-container .dropdown-menu:after {
    content: "\e929";
    font-family: 'icomoon', arial;
    position: absolute;
    top: -14%;
    left: 58%;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.24);
}

.blog-container .dropdown-menu:after {
    content: "\e9a8";
    font-family: 'icomoon', arial;
    position: absolute;
    top: -19%;
    left: 54%;
    font-size: 87px;
    color: rgba(255, 255, 255, 0.24);
}

.services-container .dropdown-menu:after {
    content: "\e043";
    font-family: 'icomoon', arial;
    position: absolute;
    top: -14%;
    left: 58%;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.24);
}

.about-container .dropdown-menu:after {
    content: "\e9c3";
    font-family: 'icomoon', arial;
    position: absolute;
    top: -14%;
    left: 58%;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.24);
}

.features-container .dropdown-menu:after {
    content: "\e966";
    font-family: 'icomoon', arial;
    position: absolute;
    top: -14%;
    left: 58%;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.24);
}


.dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus {
    color: $color8;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #FFFFFF), color-stop(0.48, #ffb900));
}

/*=====  End of Header Nenu Section  ======*/

/*============================================
=            Primary Menu Section            =
============================================*/

nav.primary-menu {
    margin: $main-margin;
}

ul#menu-main li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.primary-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul#menu-main i {
    font-size: 20px;
}

nav.primary-menu ul li {
    width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: $color2;
}

nav.primary-menu ul li i {
    color: $color2;
}

nav.primary-menu ul li:nth-of-type(1) {
    background-color: $color3;
}

nav.primary-menu ul li:nth-of-type(2) {
    background-color: $color5;
}

nav.primary-menu ul li:nth-of-type(3) {
    background-color: $color6;
}

nav.primary-menu ul li:nth-of-type(4) {
    background-color: $color7;
}

/*=====  End of Primary Menu Section  ======*/
