.su-spoiler-content.su-clearfix {
    background-color: rgba(255, 255, 255, 0.34);
}

.su-spoiler-title {
    background-color: #FFF;
}

.su-spoiler-title {
	font-size: 14px !important;
}

.how-are-we {
    background-color: #FFF;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 767px){
    .how-are-we h3 {
        font-size: 20px;
    }
    .help-container {
    	text-align: center;
    }
}