.mini-slider {
    background-color: $color2;
    margin: $main-margin;
    margin-left: 0;
    margin-top: $main-margin * 2;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 991px){
	.mini-slider {
		margin-right: 0;
	}
}

@media (max-width: 767px){
	.mini-slider {
	    text-align: center;
	    margin-right: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}

.skitter.with-dots {
    margin-bottom: 0;
}

.label_skitter p {
    display: inline-block;
}

.container_skitter h4 {
    margin-left: $main-margin + 3;
    font-size: 25px;
    font-weight: bold;
    color: $color1;
}

