.all-posts-blog-page-3 .post {
    background-color: #FFF;
    margin: 10px;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.all-posts-blog-page-3 .post-meta div {
    display: inline-block;
}

.all-posts-blog-page-3 .post-meta div.image {
    width: 30%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 0;
}

.all-posts-blog-page-3 .post-meta .info {
	width: 65%;

    p.post-information {
        color: #afacac;
    }
}

.all-posts-blog-page-3 .post-meta .info h3 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
}

.all-posts-blog-page-3 .post-meta .info p {
    position: absolute;
    bottom: 0;
}



