.container-porfolio {
    margin: 10px;
    margin-left: 0;
    background-color: #FFF;
    margin-right: 0;
}

@media (min-width: 768px) and (max-width: 991px){
	.container-porfolio {
		margin-bottom: 20px;
	    padding-bottom: 10px;
	}
}

.panel-wrapper {
    padding: 0 !important;
}

.right-block {
    padding: 10px;
}

#p-main-slider_2 .slider-content-wrapper .image-block_2 {
	padding: 0 !important;
}
