.services {
    margin-right: $main-margin;
    margin-top: 20px;
    overflow: hidden;
    
    .services-container {
        background-color: $color2;
        padding: $main-padding;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .services {
        margin-top: $main-margin * 2;
        margin-right: 0;
    }
}

@media (max-width: 767px){
    .services {
        margin-right: 0;
    }
}
