.custom-sidebar-widget {
    margin: $main-margin;
    margin-right: 0;
}

@media (max-width: 767px){
    .custom-sidebar-widget {
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .custom-sidebar-widget {
        margin-left: 0;
    }
}

/*=======================================
=            About Us Wedget            =
=======================================*/

.dwwp-sidebar-custom-widget-about-us {
    background-color: $color2;
}

.dwwp-sidebar-custom-widget-about-us h4 {
    background-color: $color7;
    color: $color2;
    padding: $main-padding;
    margin: 0;
}

.dwwp-sidebar-custom-widget-about-us img {
    max-width: 100%;
}

.dwwp-sidebar-custom-widget-about-us p {
    padding: $main-padding;
    margin: 0;
}

/*=====  End of About Us Wedget  ======*/

/*===========================================
=            Social Media Widget            =
===========================================*/

.social-media-icon-widget {
    margin-top: $main-margin * 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $color2;
    padding: $main-padding;
    padding-bottom: 0;
}

.social-media-icon-widget h4 {
    background-color: $color4;
    color: $color2;
    padding: $main-padding;
    margin: 0;
}

.social-media-icon-widget a {
    width: calc(50% - 12px);
    margin: $main-margin 0;
    text-align: center;
    border-radius: 2px;
}

.social-media-icon-widget i {
    font-size: 20px;
}

.social-media-icon-widget a span {
    position: relative;
    bottom: 2px;
}

.social-media-icon-widget a:nth-of-type(1) {
    display: block;
    padding: $main-padding;
    color: $color2;
    background-color: #dc4d3c;
    margin-top: 0;
}

.social-media-icon-widget a:nth-of-type(2) {
    display: block;
    padding: $main-padding;
    color: #FFF;
    background-color: #425c9d;
    margin-top: 0;
}

.social-media-icon-widget a:nth-of-type(3) {
    display: block;
    padding: $main-padding;
    color: #FFF;
    background-color: #44cefd;
}

.social-media-icon-widget a:nth-of-type(4) {
    display: block;
    padding: $main-padding;
    color: #FFF;
    background-color: #df6c5e;
}

.social-media-icon-widget a:nth-of-type(5) {
    display: block;
    padding: $main-padding;
    color: #FFF;
    background-color: #f7659c !important;
}

.social-media-icon-widget a:nth-of-type(6) {
    display: block;
    padding: $main-padding;
    color: #FFF;
    background-color: #35c6ea !important;
}

.social-media-icon-widget a:nth-of-type(7) {
    display: block;
    padding: $main-padding;
    color: #FFF;
    background-color: #ff7e30 !important;
}

.social-media-icon-widget a:nth-of-type(8) {
    display: block;
    padding: $main-padding;
    color: #FFF;
    background-color: #1879fd !important;
}

.social-media-icon-widget a:nth-of-type(9) {
    display: block;
    padding: $main-padding;
    color: #FFF;
    background-color: #3897f0 !important;
}

.social-media-icon-widget a:nth-of-type(10) {
    display: block;
    padding: $main-padding;
    color: #FFF;
    background-color: #3f91cb !important;
}

/*=====  End of Social Media Widget  ======*/

/*=========================================
=            Go To Shop Widget            =
=========================================*/

.go-to-shop-widget div {
    background-color: #6a67ce;
    color: #FFF;
    padding: $main-padding;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    font-weight: bold;
    margin: $main-margin 0 $main-margin * 2;
}

.go-to-shop-widget div p {
    font-size: 16px;
    margin-top: $main-margin * 2;
}

/*=====  End of Go To Shop Widget  ======*/

/*===========================================
=            Latest Posts Widget            =
===========================================*/

.latest-posts-blog-widget {
    margin-top: $main-margin * 2;
    position: relative;
}

.latest-posts-blog-widget h4 {
    background-color: $color5;
    color: $color2;
    padding: $main-padding;
    margin: 0;
}

.latest-posts-blog-widget a.left.carousel-control {
background-image: none;
font-size: 15px;
position: static;
}

.latest-posts-blog-widget a.right.carousel-control {
    background-image: none;
    font-size: 15px;
}

.latest-posts-blog-widget .carousel-inner {
    background-color: $color2;
}

.latest-posts-blog-widget .carousel-inner img {
    width: 100%;
}

.latest-posts-blog-widget a.left.carousel-control i {
    position: absolute;
    top: -28px;
    right: 35px;
    text-shadow: none;
    border: 1px solid $color2;
    padding-right: 1px;
    color: $color2;
    border-radius: 2px;
}

.latest-posts-blog-widget a.right.carousel-control i {
    position: absolute;
    top: -28px;
    right: 11px;
    text-shadow: none;
    border: 1px solid $color2;
    padding-left: 1px;
    color: $color2;
    border-radius: 2px;
}

.latest-posts-blog-widget .date {
    background-color: $color2;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 11px;

    .day {
    background-color: #e9e9e9;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }

    .mounth {
    background-color: #4081d1;
    color: #FFF;
    width: 100%;
    }
}

.latest-posts-blog-widget .carousel-caption {
    bottom: 0;
    color: $color8;
    position: static;
    padding: $main-padding;
    text-align: left;

    .info-for-the-post {
        color: $infoColor;
        margin: 0;
    }

    .decsription {
        margin: $main-margin 0;
        color: $paragraphColor;
        padding: $main-padding / 2 0;
    }
}

.latest-posts-blog-widget .carousel-caption h5 {
    font-size: 18px;
    margin: 0;
}

/*=====  End of Latest Posts Widget  ======*/
/*=============================================
=            Top Liked Item Widget            =
=============================================*/

.top-items-shop-widget {
    margin-top: 20px;

    h4 {
        background-color: $color4;
        color: $color2;
        padding: $main-padding;
        margin: 0;
    }

}

/* Start Reating System */

.rating { 
    border: none;
    float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
    margin: 0px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before { 
    content: "\f089";
    position: absolute;
}

.rating > label { 
    color: #ddd; 
    float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover,  
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }    

/* End Reating System */

/*=====  End of Top Liked Item Widget  ======*/

/*==============================================
=            Our Categories Section            =
==============================================*/

.list_categories {

    li {
        list-style: none;
        margin: 5px 0;
        border: 1px solid #DDD;
        padding: 5px;
        background-color: #fff;

        a:before {
            content: "\f114";
            font-family: 'icomoon' !important;
            margin-right: 5px;
            color: $color6;
        }

        span.count {
            float: right;
            background-color: $color1;
            width: 20px;
            height: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color2;
        }
    }

    li:nth-of-type(1) span.count {
        background-color: $color3;
    }

    li:nth-of-type(2) span.count {
        background-color: $color4;
    }

    li:nth-of-type(3) span.count {
        background-color: $color5;
    }

    li:nth-of-type(4) span.count {
        background-color: $color6;
    }

    li:nth-of-type(5) span.count {
        background-color: $color7;
    }

    li:nth-of-type(6) span.count {
        background-color: $color3;
    }

    li:nth-of-type(7) span.count {
        background-color: $color4;
    }

    li:nth-of-type(8) span.count {
        background-color: $color5;
    }

    li:nth-of-type(9) span.count {
        background-color: $color6;
    }

    li:nth-of-type(10) span.count {
        background-color: $color7;
    }

}

/*=====  End of Our Categories Section  ======*/

