section.related.products {
    display: none;
}

.container_singel_product {
    margin: 10px;
    margin-left: 0;

	.meta_product {
	    margin: 10px;
	    background-color: $color2;
	    padding: 10px;
	    margin-top: 20px;
	    margin-right: 0;
        position: relative;

		p.price {
		    padding: 5px 0;

		    
		}

		.add-to-cart-container-false {
		    position: absolute;
		    top: 10px;
		    right: 25px;

			i {
			    font-size: 45px;
			    color: $infoColor;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: $color4;
			}
		}

		.add-to-cart-container-true {
		    position: absolute;
		    top: 10px;
		    right: 25px;

			i {
			    font-size: 45px;
			    color: $color10;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: $color4;
			}
		}

		.add-to-follow-container-true {
		    position: absolute;
		    top: 10px;
		    right: 85px;

			i {
			    font-size: 45px;
			    color: $infoColor;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: $color4;
			}
		}

		.add-to-follow-container-false {
		    position: absolute;
		    top: 10px;
		    right: 85px;

			i {
			    font-size: 45px;
			    color: $color10;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: $color4;
			}
		}

		.like-container {
		    display: inline-block;
		    position: absolute;
		    right: 150px;
		    top: 34px;

			button {
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    text-align: center;
			    cursor: default;
			}

		    #like {
			    font-size: 20px;
			    color: $color2;
			    margin-right: 5px;
			    position: relative;
			    top: -2px;
		    }

		    #unlike {
			    font-size: 20px;
			    color: $color2;
			    margin-right: 5px;
			    position: relative;
			    top: -2px;
		    }
		}

		.count_of_views {
		    position: absolute;
		    top: 26px;
		    right: 246px;

			.number {
			    font-size: 17px;
			}

			i {
			    font-size: 45px;
			    color: $color3;
			}
		}

	}

	@media (max-width: 767px){
		.meta_product {
			margin-left: 0;
		}
	}


	p.path-shop {
	    margin: 0;
	    margin-bottom: 0px !important;
	    padding: 10px;
	    background-color: $color2;
	    color: $color1;
	    width: 100%;

		a:link, 
		a:hover, 
		a:visited {
		    text-decoration: none;
		    color: $infoColor;
		}

		i {
		    color: $color6;
		}
	}

	.main_image_product {
	    margin: 10px;
	    margin-top: 20px;
	    margin-left: 0;
	    max-width: 100%;
	}

	@media (max-width: 767px){
		.main_image_product {
			margin-right: 0;
		}
	}

	.images_gallery {
	    background-color: $color2;
	    margin: 10px;
	    margin-right: 0;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: center;
        padding: 10px;

		.img_gallary_box {
		    width: 90px;
		    height: 90px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    margin: 5px;
		    overflow: hidden;
		}
	}

	@media (max-width: 767px){
		.images_gallery {
			margin-left: 0;
			margin-top: 20px;
		}
	}

	.woocommerce-Reviews {
		background-color: $color2;
	    padding: 10px;
	    margin: 10px;
	    margin-right: 0;
	    margin-left: 0;

		h2.woocommerce-Reviews-title {
		    font-size: 20px;
		}
	}

	.comment.byuser {
	    background-color: $color2;
	    list-style: none;
	    padding: 10px;
	    margin: 10px;
	    margin-left: 0;
	    margin-right: 0;
	    margin-bottom: 20px;
	    position: relative;

	    .comment_container {

	    	.comment-text {

				.star-rating {
				    position: absolute !important;
				    top: 10px;
				    right: 10px;
				}

				p.meta {
				    margin-top: 10px;
				    color: $infoColor;
				}	
	    	}
	    }
	}

	.commentform {
		
	}
}

@media (max-width: 767px){
	.container_singel_product {
		margin-right: 0;
	}
}