.upper-bar-woo-shop {
    overflow: hidden;
    margin: $main-margin;
    margin-left: 0;
    margin-right: 0;

	p.woocommerce-result-count {
	    margin: 0;
	    margin-bottom: 0px !important;
	    padding: $main-padding;
	    background-color: $color2;
        color: $infoColor;
	    width: 100%;
	    margin-left: -$main-margin;
	}

	p.path-shop {
	    margin: 0;
	    margin-bottom: 0px !important;
	    padding: $main-padding;
	    background-color: $color2;
	    color: $infoColor;
	    width: 100%;

		i {
		    color: $color6;
		}
	}

	a:link, a:hover, a:visited {
	    text-decoration: none;
	    color: $color8;
	}

	form.woocommerce-ordering {
	    width: calc(100% - 10px);
	    margin-bottom: 0 !important;
	    float: left !important;
	}
	
	form.woocommerce-ordering select {
	    width: 100%;
	    padding: $main-padding;
	    margin-left: $main-margin;
	}	
}

