.upper-bar-woo-shop {
    overflow: hidden;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;

	p.woocommerce-result-count {
	    margin: 0;
	    margin-bottom: 0px !important;
	    padding: 10px;
	    background-color: #ffffff;
        color: #807c7c;
	    width: 100%;
	    margin-left: -10px;
        border-left: 2px solid #6a67ce;
	}

	p.path-shop {
	    margin: 0;
	    margin-bottom: 0px !important;
	    padding: 10px;
	    background-color: #ffffff;
	    color: #8a8787;
	    width: 100%;

		i {
		    color: #ffb96f;
		}
	}

	a:link, a:hover, a:visited {
	    text-decoration: none;
	    color: #3a3939;
	}

	form.woocommerce-ordering {
	    width: calc(100% - 10px);
	    margin-bottom: 0 !important;
	    float: left !important;
	}
	
	form.woocommerce-ordering select {
	    width: 100%;
	    padding: 10px;
	    margin-left: 10px;
	}	
}

