
	$color1: #eaeaea;
	$color2: #ffffff;
	$color3: #3be8b0;
	$color4: #1aafd0;
	$color5: #6a67ce;
	$color6: #ffb900;
	$color7: #fc636b;
	$color8: #333;
	$color9: #42b72a;
	$color10: #0088ff;

	$infoColor: #777;
	$paragraphColor: #000;

	$green: #42b72a;
	$blue: #08f;

	$main-margin: 10px;
	$main-padding: 10px;


body {
	background-color: $color1;
	font-family: 'Dosis', sans-serif;
}

.nopadding {
	padding: 0;
	margin: 0;
}

.bold {
    font-weight: bold;
}

.align-v {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: #6a67ce;
}

#wpadminbar #wp-admin-bar-shop .ab-icon:before {
    content: "\f174";
    color: #ff9200;
}

.grid-item {
    width: 45%;
    margin: 5px;
}

.parent {
    margin-right: -15px;
    margin-left: -5px;
    margin-top: -5px;
}


