.container-filter {
    background-color: $color2;
    padding: $main-padding;
    margin: $main-margin;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

	input {
	    border: 1px solid #DDD;
	    padding: $main-padding /  2;
	    margin: $main-margin /  2;
	    width: 130px;
	}

	select.select-option {
	    padding: $main-padding /  2;
	    margin: $main-margin /  2;
	    width: 120px;
	}

}