/*=========================================
=            Queck View Wendow            =
=========================================*/

.queck-view-window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    background-color: $color1;
    width: 0%;
    height: 0%;
    display: none;
    box-shadow: 1px -1px 2px 0.5px rgba($black, 0.22);
    padding: 10px;
    opacity: 0;

    .the_content_queck_view {
        display: none;
        width: 100%;

        .loading_queck_view {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
        }
    }

    i#close_wendow {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: .8;
        cursor: pointer;
        z-index: 40;
        display: flex;
        background-color: $color1;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
    }

    .container-quick-veiw {
        height: 100%;
        overflow: hidden;
        background-color: $color2;
        margin: 10px;

        > div {
          height: 100%;
          padding: 10px;
          min-height: 520px;
        }
    
        #slider3 {
            position: absolute;
            width: 91px;
            height: 88%;
            top: 50%;
            left: 10px;
            transform: translate(0,-50%);

            .thumbelina-but.vert.top:before {
                content: "\ea21";
                font-family: 'icomoon' !important;
            }

            .thumbelina-but.vert.bottom:before {
                content: "\ea1e";
                font-family: 'icomoon' !important;
            }

            .thumbelina li {
                padding: 5px 0;
            }

            .thumbelina-but {
                background-color: $blue;
                box-shadow: none;
                color: $color2;
            }

            .thumbelina-but.vert.top,
            .thumbelina-but.vert.bottom {
                border-radius: 0;
            }
        }

      .main-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 10px;
        width: calc(100% - 120px);
        max-height: 500px;
        transform: translate(0, -50%);
        overflow: hidden;

          img {
            max-height: 100%;
          }
      }

        .the-content {
            position: relative;
            height: 100%;
            background-color: $color2;
            padding: 10px;

            h3 {
                margin: 0;
            }

            .panel-primary {
                margin: 0;
                margin-bottom: 20px;
                margin-top: 20px;
                width: 150px;

                span.price-without-disc {
                    font-size: $font-size - 8;
                }

                span.main-price i {
                    font-size: 12px;
                    position: relative;
                    top: -8px;
                }

                span.no-disc {
                    font-size: $font-size - 8;
                }
            }

            @media (min-width: 768px) and (max-width: 991px){
                .panel-primary {
                    text-align: center;
                    margin: 20px auto !important;
                }
            }

            p.note-currency {
                background-color: $green;
                display: inline-block;
                padding: 5px;
                cursor: pointer;
                color: $color2;
                border-radius: 2px;
            }

            p.price-currency {
                background-color: $green;
                display: inline-block;
                padding: 5px;
                color: $color2;
                border-radius: 2px;

                span {
                    color: $infoColor;
                }
            }

            span.discount-number {
                font-size: $font-size - 5;
                font-weight: bold;
                color: $green;
                font-family: $fontThree;

                span.sale-circle {
                    width: 40px;
                    height: 40px;
                    background-color: $green;
                    display: flex;
                    color: white;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    position: absolute;
                    top: 65px;
                    right: 15px;
                }

                span.sale-icon {
                    font-size: 45px;
                    position: absolute;
                    top: 50px;
                    right: 70px;
                    color: $color7;
                }
            }

            p.icons {
                position: absolute;
                bottom: 20px;
                right: 15px;
                display: flex;
                flex-direction: row;
                margin-bottom: 0;
                margin-left: 0;

                i {
                    background-color: $blue;
                    color: $color2;
                    padding: 5px;
                    margin: 0 5px;
                    font-size: 30px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }

        @media (min-width: 768px) and (max-width: 991px){
            .the-content {
                text-align: center;
                margin: auto;
            }
        }
    }
}

.cntainer-reviews {
    padding: 10px;

    h3 {
        margin-bottom: 20px;
        background-color: $color2;
        padding: 10px;
        margin-top: 0;
    }

    ul.media-list {

        li.media {
            margin: 10px 0;
            display: block;
            background-color: $color2;
            margin-bottom: 20px;
            padding: 5px;
            border-radius: 5px;

            .media-body {
                position: relative;

                fieldset.rating {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translate(0, -50%);
                    font-size: 12px;
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        h4.media-heading {
            font-size: $font-size - 5;
        }

        p.rev-content {
            margin-bottom: 0;
            color: $infoColor;
            max-width: 70%;
            font-style: italic;

            &:before {
                content: "\f10d";
                font-family: 'icomoon' !important;
                font-size: 10px;
                margin-right: 10px;
                opacity: .5;
            }

            &:after {
                content: "\f10e";
                font-family: 'icomoon' !important;
                font-size: 10px;
                margin-left: 10px;
                opacity: .5;
            }
        }

        p.rev-date {
            color: $infoColor;
            font-size: $font-size - 8;
            margin: 0;
            font-family: $fontThree;
            font-weight: bold;
        }
    }
}

.fullscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color5;
    opacity: .8;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

/*=====  End of Queck View Wendow  ======*/