
/*================================================
=            Section Related Products            =
================================================*/

.container-reilated-products {
    overflow: hidden;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;

    .parent-image-in-loop-products {
        height: 300px !important;
        overflow: hidden;
    }
    
    > div {
        border: 10px solid transparent;
    }

	.carousel-caption h5 {
	    font-size: 18px;
	}

}

/*=====  End of Section Related Products  ======*/