.parent-cart-page {
	background-color: $color2;
    margin: 10px 0;
    form.woocommerce-cart-form {
    	padding: $main-padding *2;
    	table {
    		padding: $main-padding;
    		width: 100%;
    		thead {
    			padding: $main-padding;
    			tr {

    				th {
					    background-color: $color2;
					    padding: 5px;
					    color: $infoColor;
					    border: 1px solid rgba($infoColor, 0.2);
    				}
    			}
    		}
    		tbody {
    			padding: $main-padding;
    			tr {

    				td {
					    background-color: $color2;
					    border: 1px solid rgba($infoColor, 0.15);
					    padding: $main-padding / 2;
					    div.quantity {
					    	text-align: center;
					    	input {
							    padding: $main-padding / 2;
							    border: 1px solid $borderInput;
							    text-align: center;
							    border-radius: 2px;
						    }
							@media (max-width: 767px){
								input {
									width: 50px;
								}
							}
					    }
						@media (max-width: 767px){
							div.quantity {
								text-align: right;
							}
						}
					    div.coupon {
					    	padding: $main-padding / 2;
							input#coupon_code {
							    padding: $main-padding / 2;
							    width: 50%;
							}
							input[name="apply_coupon"] {
							    padding: $main-padding / 2;
							    width: 45%;
							    height: 29px;
							}
					    }
						input[name="update_cart"] {
						    padding: $main-padding;
						    width: 15%;
						    height: 40px;
						}
    				}
					td.product-thumbnail {
					    text-align: center;
					}
					td.product-remove {
					    text-align: center;
					}
    			}
    		}
    	}
    }
}

.cart-collaterals {
    margin: $main-margin 0;
    margin-top: $main-margin *2;
    background-color: $color2;
	.cart_totals {
		padding: $main-padding;
	    border: 1px solid rgba($infoColor, 0.2);
	    margin-right: $main-margin *2;
	    margin-bottom: $main-margin *2;
	}
	.wc-proceed-to-checkout {
	    margin-right: $main-margin;
	    a {
	    	color: $color8;
	    }
	}
}

@media (max-width: 767px){
	tr.woocommerce-cart-form__cart-item.cart_item:nth-of-type(even) {
	    background-color: $color2;
	}
}

@media (max-width: 767px){
	tr.woocommerce-cart-form__cart-item.cart_item {
	    border: 5px solid $color2;
	}

	td.actions {
	    padding: 0 !important;
	}

	.coupon {
	    padding: 5px 0 !important;
	}

	.cart_totals h2 {
	    text-align: center;
	}

	.cart_totals table {
	    padding: 0 10px !important;
	    width: 100%;
	}

	tr.woocommerce-cart-form__cart-item.cart_item td:first-of-type {
	    background-color: $color1 !important;
	}

	a.remove i {
	    background-color: rgba($infoColor, 0.2);
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    text-align: center;
	    line-height: 19.5px;
	    border-radius: 50%;
	    color: $color2;
	    position: relative;
	    top: -1px;
	}
}