.parent-dashboard-page {
    overflow: hidden;
    background-color: var(--color2);
    margin: $main-margin 0;

    .boxes {

    	h4 {
    		margin-left: $main-margin;
    	}

		div.parent-box:nth-of-type(1) .box1 {
		    background-color: var(--color6);
		    border: 10px solid var(--color2);
		    color: var(--color2);
		    .head {
				background-color: var(--color8);
			    padding: $main-padding;
		    }
		    .body {
		    	
		    	.item {
		    		position: relative;
		    		padding: $main-padding;
		    		color: var(--fontColorHaveBackground);
		    		h5 {
	    			    font-size: $font-size;
					    font-weight: bold;
				        margin-top: 0;
				        color: var(--fontColorHaveBackground);
					    i {
					    	font-size: 30px;
					    }
		    		}
		    		a {
		    			color: var(--fontColorHaveBackground);
		    		}
		    	}
				.item:nth-child(even) {
				    background-color: var(--color4);
				}
		    }
		}

		div.parent-box:nth-of-type(1) .box2 {
		    background-color: var(--color5);
		    border: 10px solid var(--color2);
		    color: var(--color2);
		    .head {
				background-color: var(--color8);
			    padding: $main-padding;
		    }
		    .body {
		    	
		    	.item {
		    		position: relative;
		    		padding: $main-padding;
		    		color: var(--fontColorHaveBackground);
		    		h5 {
	    			    font-size: $font-size;
					    font-weight: bold;
					    margin-top: 0;
					    color: var(--fontColorHaveBackground);
					    i {
					    	font-size: 30px;
					    }
		    		}
		    		a {
		    			color: var(--fontColorHaveBackground);
		    		}
		    	}
				.item:nth-child(even) {
				    background-color: var(--color4);
				}
		    }
		}

		div.parent-box:nth-of-type(2) .box1 {
		    background-color: var(--color7);
		    border: 10px solid var(--color2);
		    color: var(--color2);
		    .head {
				background-color: var(--color8);
			    padding: $main-padding;
		    }
		    .body {
		    	
		    	.item {
		    		position: relative;
		    		padding: $main-padding;
		    		color: var(--fontColorHaveBackground);
		    		h5 {
	    			    font-size: $font-size;
					    font-weight: bold;
					    margin-top: 0;
					    color: var(--fontColorHaveBackground);
					    i {
					    	font-size: 30px;
					    }
		    		}
		    		a {
		    			color: var(--fontColorHaveBackground);
		    		}
		    	}
				.item:nth-child(even) {
				    background-color: var(--color4);
				}
		    }
		}

		div.parent-box:nth-of-type(2) .box2 {
		    background-color: var(--color4);
		    border: 10px solid var(--color2);
		    color: var(--color2);
		    .head {
				background-color: var(--color8);
			    padding: $main-padding;
		    }
		    .body {
		    	
		    	.item {
		    		position: relative;
		    		padding: $main-padding;
		    		color: var(--fontColorHaveBackground);
		    		h5 {
	    			    font-size: $font-size;
					    font-weight: bold;
					    margin-top: 0;
					    color: var(--fontColorHaveBackground);
					    i {
					    	font-size: 30px;
					    }
		    		}
		    		a {
		    			color: var(--fontColorHaveBackground);
		    		}
		    	}
				.item:nth-child(even) {
				    background-color: var(--color4);
				}
		    }
		}
	}

	.you-orders {
	    padding: $main-padding;
	}

	p.info-for-the-post {
    	
    	margin-top: -$main-margin;
	}
}