.profile-container {
	background-color: var(--color2);
	margin: $main-margin 0;

	.woocommerce {

		nav.woocommerce-MyAccount-navigation {

			ul {
			    list-style: none;
			    margin: 0px;
			    padding: $main-padding + 5;

			    li {
					background-color: var(--color1);
    				margin: $main-margin 0;
    				padding: $main-padding;
			    }
			}
		}
	}

	form.woocomerce-form.woocommerce-form-login.login {
	    border: none;
	    border-radius: 0;
	    width: 500px;
	    margin: auto;
	    text-align: center;
        display: flex;
	    flex-direction: column;
	    justify-content: center;
	    padding-top: 50px;
	    background-color: var(--color2);

		.form-row-wide {
		    position: relative;

			&:before {
			    content: "\ea20";
			    font-family: 'icomoon' !important;
			    position: absolute;
			    top: 8px;
			    left: -20px;
			}
		}

		label {
		    display: none;
		}

	    input {
		    padding: $main-padding;
		    border: 1px solid $borderInput;
		    background-color: var(--color1);
	    }

		input[type="submit"] {
		    display: block !important;
		    width: 100%;
		    margin-top: 10px;
		    background-color: var(--color7) !important;
		    color: var(--color2) !important;
		}

		p.woocommerce-LostPassword.lost_password a {
		    
		}
	}

	@media (max-width: 767px){
		form.woocomerce-form.woocommerce-form-login.login {
			width: 100%;
		}
	}

	.woocommerce-MyAccount-content {
	    padding: $main-padding $main-padding + 5;
	    margin: $main-margin;
	}

	.woocommerce-MyAccount-content {

		input {
			padding: $main-margin / 2;
		    border: 1px solid $borderInput;
		}
	}
}