.shop-container {
    margin: $main-margin;
    margin-left: 0;
    margin-top: $main-margin;
    margin-right: 0;

	.parent-shop-container {
        margin-right: -10px;
        margin-left: -10px;
        margin-top: -10px;
        margin-bottom: 50px;

        .custom-pagination {
            padding: 5px;
            text-align: center;
            margin-bottom: 10px;
            border: none !important;
            position: absolute;
            bottom: -50px;
            right: 50%;
            transform: translate(50%);
        }

        .malinky-ajax-pagination-loading {
            opacity: .9 !important;
            position: absolute !important;
            top: -5px !important;
            left: 10px !important;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            background: var(--color5);
            z-index: 1000;
            animation: loadingPagination 6s linear infinite;
        }

        @keyframes loadingPagination {

            0% {
                background: var(--color5);
            }

            50% {
                background: var(--color6);
            }

            100% {
                background: var(--color5);
            }
        }
	}
}

