section.related.products {
    display: none;
}

.container_singel_product {
    margin: $main-margin;
    margin-left: 0;

	.meta_product {
	    margin: $main-margin;
	    background-color: $color2;
	    padding: $main-padding;
	    margin-top: $main-margin * 2;
	    margin-right: 0;
        position: relative;

		p.price-currency {
		    display: inline-block;
		    background-color: #78cfbf;
		    color: #fff;
		    padding: 2px 5px;
		    font-size: 15px;
		    margin: 16px 0px;
		    border-radius: 5px;
		}

		p.note-currency {
		    display: inline-block;
		    background-color: #78cfbf;
		    color: #fff;
		    padding: 2px 5px;
		    font-size: 15px;
		    margin: 16px 0px;
		    border-radius: 5px;
		}

		.panel-primary {
		    max-width: 130px;
		    margin-top: 10px;

		    > .panel-heading {
		    	font-size: 13px;
		    }

			span.main-price i {
			    font-size: 10px;
			    position: relative;
			    top: -10px;
			}

			span.price-without-disc {
			    font-size: 13px;
			    text-decoration: line-through;
			}

			span.no-disc {
			    font-size: 12px;
			}
		}

		h1.product_title.entry-title {
		    font-size: $font-size +  10;
		}

		p.reviews_count {
		    position: relative;
		    top: 2px;
		}

		p.price {
		    padding: $main-padding /  2 0;
		}
        
        p.price_regular {
            font-size: $font-size - 2;
            margin-top: -$main-margin;
            text-decoration: line-through;
            text-decoration-color: rgba(68, 66, 66, 0.58);
        }

		.add-to-cart-container-false {
		    position: absolute;
		    top: 10px;
		    right: 25px;

			i {
			    font-size: 45px;
			    color: $color10;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: $color4;
			}
		}

		.add-to-cart-container-true {
		    position: absolute;
		    top: 10px;
		    right: 25px;

			i {
			    font-size: 45px;
			    color: $color10;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: $color4;
			}
		}

		.add-to-follow-container-true {
		    position: absolute;
		    top: 10px;
		    right: 85px;

			i {
			    font-size: 45px;
			    color: $color10;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: $color4;
			}
		}

		.add-to-follow-container-false {
		    position: absolute;
		    top: 10px;
		    right: 85px;

			i {
			    font-size: 45px;
			    color: $color10;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: $color4;
			}
		}

		.like-container {
		    display: inline-block;
		    position: absolute;
		    right: 150px;
		    top: 37px;

		    #like {
			    font-size: $font-size;
			    color: $color10;
			    margin-right: $main-margin / 2;
			    position: relative;
			    width: 36px;
			    height: 32px;

				i {
				    font-size: 45px;
				    position: absolute;
				    top: -4px;
				    left: -50px;
				}
		    }

		    #unlike {
			    font-size: $font-size;
			    color: $color10;
			    margin-right: $main-margin / 2;
			    position: relative;
			    width: 36px;
			    height: 32px;

			    i {
					font-size: 45px;
					position: absolute;
					top: -6px;
					left: -50px;
			    }
		    }
		}

		.count_of_views {
		    position: absolute;
		    top: 26px;
		    right: 246px;

			.number {
			    font-size: $font-size - 3;
			}

			i {
			    font-size: 45px;
			    color: $color3;
			}
		}
        
        span.tagged_as a {
            background-color: $blue;
	        color: $color2;
	        padding: 2px;
	        border-radius: 2px;
	        margin: 0 2px;

	        &:before {
	        	content: "\f02b";
		        font-family: 'icomoon' !important;
		        margin-right: 5px;
		        margin-left: 3px;
		        color: $color2;
	        }
        }

		.product_meta {
		    font-size: 12px !important;
		}

        span.posted_in a {
        	background-color: $blue;
	        color: $color2;
	        padding: 2px;
	        border-radius: 2px;
	        margin: 0 2px;

	        &:before {
	        	content: "\f07b";
		        font-family: 'icomoon' !important;
		        margin-right: 5px;
		        margin-left: 3px;
		        color: $color2;
	        }
        }

	}

	@media (max-width: 767px){
		.meta_product {
			margin-left: 0;
		}
	}


	p.path-shop {
	    margin: 0;
	    margin-bottom: 0px !important;
	    padding: 10px;
	    background-color: $color2;
	    color: $infoColor;
	    width: 100%;

		a:link, 
		a:hover, 
		a:visited {
		    text-decoration: none;
		    color: $infoColor;
		}

		i {
		    color: $color6;
		}
	}

	.main_image_product {
	    margin: $main-margin;
	    margin-top: $main-margin *2;
	    margin-left: 0;
	    max-width: 100%;
	}

	@media (max-width: 767px){
		.main_image_product {
			margin-right: 0;
		}
	}

	.gallery-box {
	    background-color: $color2;
	    padding: $main-padding / 2;
	    margin: $main-margin;
	    margin-right: 0;

		.owl-nav {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    margin: 4px;

			.owl-prev {
			    background-color: $blue;
			    color: $color2;
			    padding: 0 4px;
			    margin: 0 4px;
			    border-radius: 3px;
			}

			.owl-next {
			    background-color: $blue;
			    color: $color2;
			    padding: 0 4px;
			    margin: 0 4px;
			    border-radius: 3px;
			}
		}

		.owl-dots {
		    text-align: center;

			> div {
			    width: 5px;
			    height: 5px;
			    display: inline-block;
			    background-color: $blue;
			    margin: 0 2px;
			    border-radius: 50%;
			}
		}

	}

	@media (max-width: 767px){
		.gallery-box {
			margin-left: 0;
			margin-top: $main-margin *2;
		}
	}

	.woocommerce-Reviews {
		background-color: $color2;
	    padding: $main-padding;
	    margin: $main-margin;
	    margin-right: 0;
	    margin-left: 0;

		h2.woocommerce-Reviews-title {
		    font-size: $font-size;
		}
	}

	.container-comments {
	    margin-right: 0px;
	    margin-top: $main-margin;
	    margin-bottom: $main-margin * 2;

		span.rating {
		    position: absolute !important;
		    right: 10px;
		}
	}

	.comments-form-container {

		h2.woocommerce-Reviews-title {
			color: $infoColor;
		}

		span#reply-title {
		    color: $infoColor;
		}

		label {
		    display: none;
		}

		p.comment-notes {
		    color: $infoColor;
		}
		
		input#submit {
		    background-color: $green !important;
		}
	}
    
    h3.r_products {
        background-color: $color2;
        padding: $main-padding;
        font-size: $font-size - 1;
        margin-top: 10px;
	    margin-bottom: 20px;
    }
}

@media (max-width: 767px){
	.container_singel_product {
		margin-right: 0;
	}
}

