section.related.products {
    display: none;
}

.container_singel_product {
    margin: $main-margin;
    margin-left: 0;

	@media (max-width: 767px) {
		h3.r_products {
		    margin: 10px 0 20px !important;
		}
	}

	.meta_product {
	    margin: $main-margin;
	    background-color: var(--color2);
	    padding: $main-padding;
	    margin-top: $main-margin * 2;
	    margin-right: 0;
        position: relative;

		p.price-currency {
		    display: inline-block;
		    background-color: var(--color3);
		    color: var(--color2);
		    padding: 2px 5px;
		    font-size: $font-size - 5;
		    margin: 16px 0px;
		    border-radius: 5px;
		}

		p.note-currency {
		    display: inline-block;
		    background-color: var(--color3);
		    color: var(--color2);
		    padding: 2px 5px;
		    font-size: $font-size - 5;
		    margin: 16px 0px;
		    border-radius: 5px;
		    cursor: pointer;
		}

		.panel-primary {
		    max-width: 130px;
		    margin-top: 10px;

		    > .panel-heading {
		    	font-size: $font-size - 7;
		    }

			span.main-price i {
			    font-size: 10px;
			    position: relative;
			    top: -10px;
			}

			span.price-without-disc {
			    font-size: $font-size - 7;
			}

			span.no-disc {
			    font-size: $font-size - 8;
			}
		}

		@media (max-width: 767px){
			.panel-primary {
			    margin-left: 0;
			}
		}

		h1.product_title.entry-title {
		    font-size: $font-size +  10;
		}

		p.reviews_count {
		    position: relative;
		    top: 2px;
		}

		p.price {
		    padding: $main-padding /  2 0;
		}
        
        p.price_regular {
            font-size: $font-size - 2;
            margin-top: -$main-margin;
            text-decoration: line-through;
            text-decoration-color: rgba(68, 66, 66, 0.58);
        }

		.add-to-cart-container-false {
		    position: absolute;
		    top: 10px;
		    right: 25px;

			i {
			    font-size: 30px;
			    background-color: var(--color3);
			    color: var(--fontColorHaveBackground);
			    padding: 5px 10px;
			    border-radius: 5px;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: var(--color4);
			}
		}

		.add-to-cart-container-true {
		    position: absolute;
		    top: 10px;
		    right: 25px;

			i {
			    font-size: 30px;
			    color: var(--color1)0;
			    background-color: var(--color3);
			    color: var(--fontColorHaveBackground);
			    padding: 5px 10px;
			    border-radius: 5px;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: var(--color4);
			}
		}

		.add-to-follow-container-true {
		    position: absolute;
		    top: 10px;
		    right: 85px;

			i {
			    font-size: 30px;
			    color: var(--color1)0;
			    background-color: var(--color6);
			    color: var(--fontColorHaveBackground);
			    padding: 5px 10px;
			    border-radius: 5px;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: var(--color4);
			}
		}

		@media (max-width: 767px){
			.add-to-follow-container-true,
			.add-to-follow-container-false {
			    position: absolute;
			    top: 65px !important;
			    right: 25px !important;
			}
		}

		.add-to-follow-container-false {
		    position: absolute;
		    top: 10px;
		    right: 85px;

			i {
			    font-size: 30px;
			    color: var(--color1)0;
			    background-color: var(--color6);
			    color: var(--fontColorHaveBackground);
			    padding: 5px 10px;
			    border-radius: 5px;
			}

			a:link, a:hover, a:visited {
			    text-decoration: none;
			    color: var(--color4);
			}
		}

		.like-container {
		    display: inline-block;
		    position: absolute;
			right: 186px;
		    top: 25px;

		    #like {
			    font-size: $font-size;
			    color: var(--color1)0;
			    margin-right: $main-margin / 2;
			    position: relative;
			    width: 36px;
			    height: 32px;

				i {
				    font-size: 30px;
				    position: absolute;
				    background-color: var(--color5);
				    color: var(--fontColorHaveBackground);
				    padding: 5px 10px;
				    border-radius: 5px;
				}
		    }

		    #unlike {
			    font-size: $font-size;
			    color: var(--color1)0;
			    margin-right: $main-margin / 2;
			    position: relative;
			    width: 36px;
			    height: 32px;

			    i {
					font-size: 30px;
					position: absolute;
				    background-color: var(--color5);
				    color: var(--fontColorHaveBackground);
				    padding: 5px 10px;
				    border-radius: 5px;
			    }
		    }
		}

		@media (max-width: 767px){
			.like-container {
			    display: inline-block;
			    position: absolute;
			    right: 70px;
			    top: 135px;
			}
		}

		.count_of_views {
		    position: absolute;
		    top: 26px;
		    right: 246px;

			.number {
			    font-size: $font-size - 3;
			}

			i {
			    font-size: 45px;
			    color: var(--color3);
			}
		}

		.product_meta {
		    font-size: $font-size - 8 !important;

			> span {
			    margin: -5px 0;
			}
		}
	}

	@media (max-width: 767px){
		.meta_product {
			margin-left: 0;
		}
	}


	p.path-shop {
	    margin: 0;
	    margin-bottom: 0px !important;
	    padding: 10px;
	    background-color: var(--color2);
	    color: var(--infoColor);
	    width: 100%;

		a:link, 
		a:hover, 
		a:visited {
		    text-decoration: none;
		    color: var(--infoColor);
		}

		i {
		    color: var(--color6);
		}
	}

	.main_image_product {
	    margin: $main-margin;
	    margin-top: $main-margin *2;
	    margin-left: 0;
	    max-width: 100%;
	    overflow: hidden;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    position: relative;

		/* &:before {
		    content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 21px;
		    height: 21px;
		    background-color: transparent;
		    border-top: 4px solid var(--color8);
		    border-left: 4px solid var(--color8);
		}

		&:after {
		    content: "";
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    width: 21px;
		    height: 21px;
		    background-color: transparent;
		    border-bottom: 4px solid var(--color8);
		    border-right: 4px solid var(--color8);
		} */
	}

    @media (min-width: 768px) and (max-width: 991px){
		.main_image_product {
		    margin-right: 0 !important;
		}
    }

	@media (max-width: 767px){
		.main_image_product {
			margin-right: 0;
		}
	}

	.gallery-box {
	    background-color: var(--color2);
	    padding: $main-padding / 2;
	    margin: $main-margin;
	    margin-right: 0;

		.owl-nav {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    margin: 4px;

			.owl-prev {
			    background-color: var(--color5);
			    color: var(--color2);
			    padding: 0 4px;
			    margin: 0 4px;
			    border-radius: 3px;
			}

			.owl-next {
			    background-color: var(--color5);
			    color: var(--color2);
			    padding: 0 4px;
			    margin: 0 4px;
			    border-radius: 3px;
			}
		}

		.owl-dots {
		    text-align: center;

			> div {
			    width: 5px;
			    height: 5px;
			    display: inline-block;
			    background-color: var(--color5);
			    margin: 0 2px;
			    border-radius: 50%;
			}
		}
	}

    @media (min-width: 768px) and (max-width: 991px){
		.gallery-box {
		    margin-top: 20px !important;
		}
    }

	@media (max-width: 767px){
		.gallery-box {
			margin-left: 0;
			margin-top: $main-margin *2;
		}
	}

	.woocommerce-Reviews {
		background-color: var(--color2);
	    padding: $main-padding;
	    margin: $main-margin;
	    margin-right: 0;
	    margin-left: 0;

		h2.woocommerce-Reviews-title {
		    font-size: $font-size;
		}
	}

	.container-comments {
	    margin-right: 0px;
	    margin-top: $main-margin;
	    margin-bottom: $main-margin * 2;

		span.rating {
		    position: absolute !important;
		    right: 10px;
		}
	}

	.comments-form-container {

		h2.woocommerce-Reviews-title {
			color: var(--infoColor);
		}

		span#reply-title {
		    color: var(--infoColor);
		}

		label {
		    display: none;
		}

		p.comment-notes {
		    color: var(--infoColor);
		}
		
		input#submit {
		    background-color: var(--color3) !important;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.container_singel_product {
	    margin-right: 0;
	}
}

@media (max-width: 767px){
	.container_singel_product {
		margin-right: 0;
	}
}

