

body {
  background-color: $color1;
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}

.mark {
    background-color: orange;
    color: #fff;
    padding: 0;
}

.toggel-opacity {
    opacity: .5;
    transition: all .2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.rotate--90 {
    transform: rotate(-90deg);
}

.round2 {
    background-color: #eaeaea;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}

.grid-item-shop { width: 33.3333%; border: 10px solid transparent; }

@media (min-width: 768px) and (max-width: 991px){
    .grid-item-shop { width: 50%; border: 10px solid transparent; }
}

@media (max-width: 767px){
    .grid-item-shop { width: 100%; border: 10px solid transparent; }
}

.grid-item--width2 { width: 400px; }

.nopadding {
	padding: 0;
	margin: 0;
}

.bold {
    font-weight: bold;
}

.align-v {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: $color5;
}

.grid-item {
    width: 45%;
    margin: $main-margin /  2;
}

.parent {
    margin-right: -15px;
    margin-left: -5px;
    margin-top: -5px;
}

.round-info-span {
    display: inline-block;
    font-family: 'Nunito', 'arial';
    min-width: 10px;
    padding: 2px 7px;
    font-size: $font-size - 8;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    background-color: #e8e8e8;
    border-radius: 10px;
    color: #909090;
}




