

body {
  background-color: $color1;
  font-family: $mainFont;
  overflow: hidden;
  color: $color8;
}

.mark {
    background-color: orange;
    color: $color2;
    padding: 0;
}

.toggel-opacity {
    opacity: .5;
    transition: all .2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.rotate--90 {
    transform: rotate(-90deg);
}

.round2 {
    background-color: $color1;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}

.grid-item-shop { width: 33.3333%; border: 10px solid transparent; }

@media (min-width: 768px) and (max-width: 991px){
    .grid-item-shop { width: 50%; border: 10px solid transparent; }
}

@media (max-width: 767px){
    .grid-item-shop { width: 100%; border: 10px solid transparent; }
}

.grid-item--width2 { width: 400px; }

.nopadding {
	padding: 0;
	margin: 0;
}

.bold {
    font-weight: bold;
}

.align-v {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: $color8;
}

.grid-item {
    width: 45%;
    margin: $main-margin /  2;
}

.parent {
    margin-right: -15px;
    margin-left: -5px;
    margin-top: -5px;
}

.round-info-span {
    display: inline-block;
    font-family: $fontTwo;
    min-width: 10px;
    padding: 2px 7px;
    font-size: $font-size - 8;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    background-color: lighten($infoColor, 45%);
    border-radius: 10px;
    color: $infoColor;
}

span.gradiant_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    transition: all .3s ease-in-out;

    &:hover {
        opacity: 0;
    }
}

span.gradiant_overlay.one {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, $color5), color-stop(1.0, $color4));
}

span.gradiant_overlay.two {
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0.00, $color3), color-stop(1.0, $color6));
}

span.gradiant_overlay.three {
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0.00, $color7), color-stop(1.0, $color5));
}

span.gradiant_overlay.four {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, $green), color-stop(0.84, $color5));
}




