
$font-size: 20px;

$mainFont: 'Dosis', sans-serif;
$fontOne: 'Droid Sans', sans-serif;
$fontTwo: 'Nunito', 'arial';
$fontThree: $fontOne;
$fontFour: 'Russo One', 'cursive', 'arial';

$main-margin: 10px;
$main-padding: 10px;

$borderInput: #ccc;

$logo_color: var(--color8);

/*====================================
=            Color JQuery            =
====================================*/

.color1 {
	background-color: var(--color1);
}
.color2 {
	background-color: var(--color2);
}
.color3 {
	background-color: var(--color3);
}
.color4 {
	background-color: var(--color4);
}
.color5 {
	background-color: var(--color5);
}
.color6 {
	background-color: var(--color6);
}
.color7 {
	background-color: var(--color7);
}
.color8 {
	background-color: var(--color8);
}


.infoColor {
	background-color: var(--infoColor);
}

.fontColorHaveBackground {
	background-color: var(--fontColorHaveBackground);
}

.green {
	background-color: var(--color3);
}
.blue {
	background-color: var(--color5);
}

/*=====  End of Color JQuery  ======*/	