
	$color1: #eaeaea;
	$color2: #ffffff;
	$color3: #3be8b0;
	$color4: #1aafd0;
	$color5: #6a67ce;
	$color6: #ffb900;
	$color7: #fc636b;
	$color8: #333;
	$color9: #42b72a;
	$color10: #1aafd0;

	$infoColor: #777;
	$font-size: 20px;

	$green: #42b72a;
	$blue: #08f;

	$main-margin: 10px;
	$main-padding: 10px;

/*====================================
=            Color JQuery            =
====================================*/

.color1 {
	background-color: $color1;
}
.color2 {
	background-color: $color2;
}
.color3 {
	background-color: $color3;
}
.color4 {
	background-color: $color4;
}
.color5 {
	background-color: $color5;
}
.color6 {
	background-color: $color6;
}
.color7 {
	background-color: $color7;
}
.color8 {
	background-color: $color8;
}
.color9 {
	background-color: $color9;
}
.color10 {
	background-color: $color10;
}

.infoColor {
	background-color: $infoColor;
}

.green {
	background-color: $green;
}
.blue {
	background-color: $blue;
}

/*=====  End of Color JQuery  ======*/	