.su-spoiler-content.su-clearfix {
    background-color: rgba(255, 255, 255, 0.34);
}

.su-spoiler-title {
    background-color: $color2;
}

.su-spoiler-title {
	font-size: $font-size - 6 !important;
}

.how-are-we {
    background-color: $color2;
    padding: $main-padding;
    margin-top: $main-margin;
    margin-bottom: $main-margin * 2;
}

@media (max-width: 767px){
    .how-are-we h3 {
        font-size: $font-size;
    }
    .help-container {
    	text-align: center;
    }
}