.all-posts-blog {
    margin: $main-margin;
    margin-left: 0;
}

@media (max-width: 767px) {
    .all-posts-blog {
        margin-right: 0;
    }
}

.post-thumbnail-img {
	width: 100%;
    position: relative;

    > a {
        display: block;
    }

    span.date-bost {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: $color2;
        padding: 3px 7px;
        color: $infoColor;
        font-family: $fontFour;
        z-index: 5;
    }

    @media (max-width: 767px) {
        span.date-bost  {
            z-index: 2;
        }
    }

    span.date-bost span {
        display: block;
        text-align: center;
        line-height: 21px;
    }

    span.year {
        color: #34bbce;
        border-top: 2px solid #34bbce;
        margin-top: 2px;
    }

    span.date-bost .day {
        font-size: $font-size + 15;
        margin-top: 4px;
        padding-bottom: 2px;
        text-transform: uppercase;
    }
}

article.post img {
    width: 100%;
}

h1.post-title {
    position: absolute;
    top: 10px;
    left: 0;
    padding: $main-padding /  2 $main-padding;
    font-size: $font-size + 8;
    z-index: 1;
    color: $color2;
}

@media (max-width: 767px) {
    h1.post-title  {
        z-index: 2;
    }
}

h1.post-title a {
    color: rgba($color2, 1);
}

.post-thumbnail-img .post-info {
    position: absolute;
    top: 75px;
    left: 0;
    padding: 2px $main-padding /  2;
    color: rgba($color2, 1);
    z-index: 1;
    font-family: $fontTwo;
    font-size: $font-size - 9;
}

.post-thumbnail-img p.info_post-2 {
    position: absolute;
    top: 105px;
    color: rgba($color2, 1);
    padding-left: 5px;
}

.post-thumbnail-img .post-info a {
	color: rgba($color2, 1);
}

p.some-content-post {
    padding: $main-padding;
    background-color: $color2;
    margin-bottom: $main-margin * 2;
    border-bottom: 5px solid $color6;
}

