.all-posts-blog-page-3 .post {
    background-color: $color2;
    margin: $main-margin;
    margin-left: 0;
    margin-bottom: $main-margin * 2;
    padding: $main-padding;
    position: relative;
}

.all-posts-blog-page-3 .post-meta div {
    display: inline-block;
}

.all-posts-blog-page-3 .post-meta div.image {
    width: 30%;
    height: auto;
    margin-right: $main-margin;
    margin-bottom: 0;
}

.all-posts-blog-page-3 .post-meta .info {
	width: 65%;

    p.post-information {
        color: $infoColor;
    }
}

.all-posts-blog-page-3 .post-meta .info h3 {
    margin: 0;
    font-size: $font-size + 5;
    margin-bottom: $main-margin;
}

.all-posts-blog-page-3 .post-meta .info p {
    position: absolute;
    bottom: 0;
}



