.container-porfolio {
    margin: $main-margin;
    margin-left: 0;
    background-color: var(--color2);
    margin-right: 0;
}

@media (min-width: 768px) and (max-width: 991px){
	.container-porfolio {
		margin-bottom: $main-margin * 2;
	    padding-bottom: $main-padding;
	}
}

.panel-wrapper {
    padding: 0 !important;
}

.right-block {
    padding: $main-padding;
}

#p-main-slider_2 .slider-content-wrapper .image-block_2 {
	padding: 0 !important;
}
